<ion-view view-title="Garena2016年校园招聘职位-{{vm.pos.name}}">
    <ion-content delegate-handle="posDetail" class="padding pos-detail-content">
        <div class="pos-detail">
            <div class="tp">
                <h2 class="text-overflow">游戏策划{{vm.pos.name}}</h2>

                <div class="labels"><span class="label" ng-repeat="city in vm.pos.city_list"> <img src="image/label.png" alt=""/> {{city.label}}</span>
                    <span class="label"><img src="image/label.png" alt=""/>  全职</span></div>

                <div class="jd" ng-bind-html="vm.html">


                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="apply ">
        <div class="con">
            请将简历投递至：{{vm.pos.hr_email}}
        </div>
    </ion-footer-bar>


</ion-view>
