<div class="padding">
    <div>
        <a class="btn btn-info" ng-click="vm.new()">新建</a>
    </div>
    <br>
    <table class="table table-bordered table-hover table-striped">
        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>是否超级管理员</th>
            <th>创建时间</th>
            <th>客户信息</th>
            <th>操作</th>
        </tr>

        <tr ng-repeat="item in vm.items">
            <td width="30">{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>
                <span class="blue" ng-if="item.super==1">是</span>
                <span class="pink" ng-if="item.super==0">否</span>
            </td>
            <td>{{item.created_at | limitTo: 10}}</td>
            <td>
                <span ng-if="!item.super">角色数：{{item.agent_ids.length}}</span>
            </td>
            <td>
                <a class="btn btn-sm btn-info" ng-click="vm.edit(item.id)">编辑</a>
                <a class="btn btn-sm btn-success" ng-click="vm.editRole(item)">角色</a>
                <a class="btn btn-sm btn-warning" ng-click="vm.delete(item.id)">删除</a>
            </td>
        </tr>
    </table>
</div>