* {
    margin: 0;
    padding: 0;
}

html, body {
    background: #fff;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: url("../images/calender.jpg") no-repeat;
    background-size: contain;
}

.container {
    height: 100%;
}
.first {
    position: absolute;
    left: 440px;
    top: 203px;
    width: 170px;
}

.first .monkey, .second .monkey {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0 -1px 0 0;
}

.second {
    position: absolute;
    left: 30px;
    top: 292px;
}

.firecracker {
    position: absolute;
    top: 700px;
}

.firecracker img {
    height: 160px;
    width: 100%;
}

.footer {
    position: relative;
    top: 900px;
    text-align: center;
}

.footer img {
    display: block;
    margin: 0 auto;
    height: 110px;
}