<div class="padding">
    <div>
        <a class="btn" ng-class="{'btn-primary':vm.active=='active_total'}" ng-click="vm.active_total()">P2活跃度总览</a>
        <a class="btn" ng-class="{'btn-primary':vm.active=='user_active'}" ng-click="vm.user_active()">P3用户活跃度</a>
        <a class="btn" ng-class="{'btn-primary':vm.active=='buz_feed_count'}" ng-click="vm.buz_feed_count()">P4各业务单元分享概况</a>
        <a class="btn" ng-class="{'btn-primary':vm.active=='value_feed_count'}" ng-click="vm.value_feed_count()">P6P7服务领导力分享分布</a>
        <a class="btn" ng-class="{'btn-primary':vm.active=='person_feed_count'}" ng-click="vm.person_feed_count()">个人分享条数详情</a>
        <a class="btn" ng-class="{'btn-primary':vm.active=='ceo_like'}" ng-click="vm.ceo_like()">CEO点赞</a>
        <a class="btn" ng-class="{'btn-primary':vm.active=='feed_all'}" ng-click="vm.feed_all()">最新feed</a>
    </div>
    <br>

    <table class="table table-bordered" ng-class="vm.table_class">
        <tr ng-repeat="row in vm.data">
            <td ng-repeat="col in row" style="max-width: 200px" ng-bind-html="col">
            </td>
        </tr>
    </table>
</div>



