<div class="padding">
    <div class="pull-right"><a href="#/app/aia/normaldist">曲线图</a></div>
    <br>
    <h2>未打分的案例</h2>
    <table class="table table-bordered">
        <tr>
            <th>id</th>
            <th>创建时间</th>
            <th>用户</th>
            <th>价值观</th>
            <th>内容</th>
            <th>自动打分</th>
        </tr>
        <tr ng-repeat="d in vm.unscore_feeds">
            <td>{{d.id}}</td>
            <td>{{d.created_at | limitTo:16}}</td>
            <td>{{d.user.name}}</td>
            <td>{{d.single_value}}</td>
            <td style="max-width: 600px"><ul>
                <li>[task]{{d.task}}</li>
                <li>[action]{{d.action}}</li>
                <li>[result]{{d.result}}</li>
                <li>[reflection]{{d.reflection}}</li>
            </ul></td>
            <td>{{vm.raw_score[d.id]}}</td>
        </tr>
    </table>
    <br>
    <table class="table table-bordered">
        <tr>
            <td><textarea ng-model="vm.raw_data" rows="20" cols="140"></textarea></td>
        </tr>
        <tr>
            <td colspan="2"><button ng-click="vm.parseData()">导入</button></td>
        </tr>
    </table>
    <br>
    <pre class="well">
        导入格式：
        feed_id1 score1
        feed_id2 score2
        ...
    </pre>
</div>
