
html, body {
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative;
    height: 100%;
    text-align: center;
}

.swiper-slide .animated {
    display: none;
}

.swiper-slide.swiper-slide-active .animated {
    display: inline-block;
}

.bg {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

}

.con1 .txt {
    margin-top: 20%;

}

.con2 .txt {
    margin-top: 20%;

}

.con3 {
    background: url('../images/bg2.jpg') no-repeat center bottom;
}

.con3 .txt {
    margin-top: 10%;
}

.con4 {
    background: url('../images/bg3.jpg') no-repeat center bottom;
}

.con4 .txt {
    margin-top: 10%;
}

.con5 .txt {
    margin-top: 28%;
}

.con5 .logo {
    margin-top: 10%;
    -webikit-animation-duration: 2s;
    animation-duration: 2s;

}

.arrow {
    position: absolute;
    z-index: 999;
    -webkit-animation: arrow 1.5s infinite ease-in-out;
    width: 40px;

    bottom: 20px;
    left: 50%;
    margin-left: -20px;

}

@-webkit-keyframes arrow {
    0%, 30% {
        opacity: 0;
        -webkit-transform: translate(0, 10px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, -8px);
    }
}




