* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    overflow: hidden;
}

body {
    background: url(../images/bg.jpg) no-repeat center bottom;

}

.main {
    text-align: center;
    padding-top: 40px;
    position: relative;
}

.pp-con {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
    background: rgba(0, 0, 0, .5);
}

.pp-con img {
    display: none;
}

.pp-alert {
    width: 507px;
    height: 893px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -450px 0 0 -243px;
}

.pp-alert .closer {
    position: absolute;
    height: 50px;
    width: 50px;

    right: 0;
    top: 0;
}

.btn {
    height: 220px;
    width: 220px;
    position: absolute;
  
}

.btn1 {
    left: 330px;
    top: 245px;
}

.btn2{
    left: 90px;
    top: 245px;
}


.btn3{
    left: 90px;
    top: 475px;
}

.btn4{
    left: 330px;
    top: 475px;
}
