<ion-view>
    <ion-content>
        <div class="resume-rec ">
            <form name="rec.rFm" novalidate ng-submit="vm.rec()">

                <div class="list ">
                    <div class="item item-divider">
                        <i class="ion-person big"></i> 被推荐人信息
                    </div>
                    <label class="item item-input" ng-class="{error:vm.submited&&rec.rFm.name.$error.required}">
                        <span class="input-label">姓名：</span>
                        <input type="text" name="name" required ng-model="vm.mod.name">
                    </label>
                    <label class="item item-input" ng-class="{error:vm.submited&&rec.rFm.mobile.$error.required}">
                        <span class="input-label">电话：</span>
                        <input type="number" name="mobile" required="" ng-model="vm.mod.mobile" maxlength="11">
                    </label>

                    <label class="item item-input"
                           ng-class="{error:rec.rFm.email.$error.email||(vm.submited&&rec.rFm.email.$error.required)}">
                        <span class="input-label">邮箱：</span>
                        <input type="email" name="email" required="" ng-model="vm.mod.email">
                    </label>
                    <label class="item item-input" ng-class="{error:vm.submited&&rec.rFm.work_exp.$error.required}">
                        <span class="input-label"> 工作经验：</span>
                        <input type="number" name="work_exp" required ng-model="vm.mod.work_exp">
                    </label>

                    <label class="item item-input" ng-class="{error:vm.submited&&rec.rFm.company.$error.required}">
                        <span class="input-label">当前公司：</span>
                        <input type="text" name="company" required ng-model="vm.mod.company">
                    </label>
                    <label class="item item-input" ng-class="{error:vm.submited&&rec.rFm.position.$error.required}">
                        <span class="input-label">当前职位：</span>
                        <input type="text" name="position" required ng-model="vm.mod.position">
                    </label>
                </div>
                <div class="list edu-list">
                    <div class="item item-divider">
                        <i class="ion-person big"></i> 推荐人信息
                    </div>
                    <label class="item item-input" ng-class="{error:vm.submited&&rec.rFm.ref_name.$error.required}">
                        <span class="input-label">姓名：</span>
                        <input type="text" name="ref_name" required="" ng-model="vm.mod.ref_name">
                    </label>
                    <label class="item item-input" ng-class="{error:vm.submited&&rec.rFm.ref_mobile.$error.required}">
                        <span class="input-label">电话：</span>
                        <input type="number" name="ref_mobile" required ng-model="vm.mod.ref_mobile">
                    </label>
                    <label class="item item-input" ng-class="{error:rec.rFm.ref_email.$error.email}">
                        <span class="input-label">邮箱<span class="small gray">（可选）</span>：</span>
                        <input type="email" name="ref_email" ng-model="vm.mod.ref_email">
                    </label>
                    <label class="item  " ng-class="{error:vm.submited&&vm.fileEmpty}">
                    <span class="btn btn-upload ">上传简历<input type="file" file-info="vm.fileInfo"
                                                             reader-error="vm.readerError(msg)"
                                                             fileread="vm.mod.file.data" filetype="vm.mod.file.type"
                                                             class="file"/></span><span class="gray small"
                                                                                        ng-if="!vm.fileInfo.name">（可选）</span><span
                            class="ml5">{{vm.fileInfo.name}}</span>


                    </label>

                    <div class="item" ng-class="{error:vm.submited&&!vm.agree}">
                        <label class="word-no-warp"><input type="checkbox" ng-model="vm.agree"/>
                            本人承诺所有提供的个人资料真实有效，并同意以上个人资料将会用于{{corp.full_name}}人才吸引和招聘用途。</label>
                    </div>
                </div>


                <div class="padding">
                    <button class="button button-block button-assertive">提交</button>
                </div>

            </form>
        </div>
    </ion-content>
</ion-view>
