<!--nav-->
<div class="sidebar">
    <div class="logo-con">
        <img style="width:120px;text-align: center" ng-src="{{company.logo_1}}" alt=""/>
    </div>
    <ul class="side-nav">
        <li ng-class=" {active:page =='pos_list'}"><a ng-href="#/position/list?page=1"><span
                class="glyphicon glyphicon-list icon"></span>职位列表</a></li>
        <li ng-class=" {active:page =='pos_new'}"><a ng-href="#/position/new"><span
                class="glyphicon glyphicon-open icon"></span>职位发布</a></li>
        <li ng-class=" {active:page =='resume-new'}"><a ng-href="#/resume/new-list"><span
                class="glyphicon glyphicon-leaf icon"></span>新收简历</a></li>
      <!--  <li ng-class=" {active:page =='rec'}"><a ng-href="#/rec/list"><span
                class="glyphicon glyphicon-thumbs-up icon"></span>内部推荐</a></li>-->
        <li ng-class=" {active:page =='statistic'}" ng-if="!company.custom.admin_menu.hide_statistic"><a ng-href="#/statistic/index"><span
                class="glyphicon glyphicon-list-alt icon"></span>统计图表</a></li>
        <li ng-class=" {active:page =='rank'}" ng-if="!company.custom.admin_menu.hide_statistic"><a ng-href="#/rank/index"><span
                class="glyphicon glyphicon-stats icon"></span>排行榜</a></li>
    </ul>
    <div class="text-center padding">
        <a href="https://mp.weixin.qq.com/" class="btn btn-block btn-wx  mt10 btn-success"><img height="16" src="images/wx.png"  alt=""/> 微信后台</a>
    </div>

</div>