body{
    background: url('../images/japan/bg.png') no-repeat center;
    background-size: cover;
}


.loading {
    z-index: 20;
    background: #fff;
    position: absolute;

    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    text-align: center;

}

.pageChangeLayer {
    z-index: 20;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    right: 0;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    display: none;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.pageChangeLayer.active {
    display: block;
}

.pageChangeLayer .circle {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
    opacity: .5;
    border-radius: 100%;
    -webkit-animation: circle 2s ease-in-out;
    animation: circle 2s ease-in-out;
}

.btnCtrl {
    opacity: .5;
}

@-webkit-keyframes circle {
    0% {

        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(30);
        transform: scale(30);
    }
}

.loading .loading-icon {
    -webkit-animation: loading 3s linear infinite;
    animation: loading 3s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -130px 0 0 -110px;

}

.loading .logo2 {
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 2;
    margin: -94px 0 0 -73px;
}

@-webkit-keyframes loading {
    0% {

        -webkit-transform: rotate(0deg);

        transform: rotate(0deg);
    }
    100% {

        -webkit-transform: rotate(360deg);

        transform: rotate(360deg);
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
    top:-30px;
}

.swiper-container .swiper-slide {

}

.swiper-slide > img {
    position: absolute;
}

.swiper-slide .animated {
    display: none;
}

.swiper-slide.swiper-slide-active .animated {
    display: block;
}

.s {
    position: relative;
    height: 100%;
    width: 100%;
}

.s > img {
    position: absolute;
}

/*con1*/
.con1 .s1 .china {
    position: absolute;
    left: -409px;
    top: 180px;
    z-index: 1;
}

.con1 .s1 .japan {
    position: absolute;
    right: 40px;
    top: 178px;
    width: 39%;
    z-index: 1;

}

.con1 .s1 .flag1 {
    height: 150px;
    left: 325px;
    top: 500px;
    z-index: 1;
}

.con1 .s1 .flag2 {
    height: 150px;
    right: 164px;
    top: 356px;
    z-index: 1;
}

.con1 .s1 .line {
    height: 150px;
    width: 600px;
    left: 463px;
    top: 494px;
    z-index: 2;
}

.con1 .s1 .plane {

    width: 100px;
    left: 398px;
    top: 590px;
    z-index: 9;
    -webkit-animation: plane 2.5s ease-in-out 2.5s 1;
    animation: plane 2.5s ease-in-out 2.5s 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both

}

.swiper-slide.swiper-slide-active.con1 .s1 {
    display: block;
}

.con1 .s1 {
    top: -70px;
    width: 1280px;
    position: absolute;
    display: none;
    -webkit-animation: moveS1 3s ease-in-out 2s 1;
    animation: moveS1 3s ease-in-out 2s 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes plane {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(.5) rotate(30deg);
        transform: scale(.5) rotate(30deg);
    }

    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        left: 398px;
        top: 590px;
        -webkit-transform: scale(1) rotate(30deg);
        transform: scale(1) rotate(30deg);
    }

    80% {
        left: 934px;
        top: 463px;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale(1) rotate(30deg);
        transform: scale(1) rotate(30deg);
    }

    100% {
        left: 934px;
        top: 463px;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale(.5) rotate(30deg);
        transform: scale(.5) rotate(30deg);
    }
}

@-webkit-keyframes moveS1 {
    0% {

        top: -70px;
    }
    100% {
        -webkit-transform: translate3d(-50%, 10%, 0px);
        transform: translate3d(-50%, 10%, 0px);
        top: 0

    }
}

.con2 img {
    position: absolute;
}

.con2 .bg {

    height: 700px;
    margin: 0 50px;
    background: url(../images/japan/bg-c2.png) no-repeat center bottom;
    background-size: contain;
    position: relative;
    overflow: hidden;
}

.con2 .bg .b1 {
    z-index: 2;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 240px;
    margin: 0 0 0 -120px;
}

.con2 .bg .b2 {
    z-index: 1;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 120px;
    margin: 0 0 0 57px;
}

.con2 .txt {
    left: 60px;
    top: 730px;
}

.con2 .person {
    right: 60px;
    top: 570px;
    width: 220px;
    z-index: 5;
}

.con2 .train {

    top: 642px;
    height: 65px;
    left: -216px;
    -webkit-animation: train 2s ease-in-out 2s 1;
    animation: train 2s ease-in-out 2s 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.con2 .cloud1 {
    left: 19px;
    top: 402px;
}

.con2 .cloud2 {
    right: 4px;
    top: 452px;
}

@-webkit-keyframes train {
    0% {

        left: 100%;
    }
    100% {
        left: -226px;

    }
}

.con3 img {
    position: absolute;
}

.con3 .bg-con {
    height: 702px;
    overflow: hidden;
}

.con3 .bg {
    top: 270px;
    height: 540px;
    width: 540px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 50px;
    background: url(../images/japan/bg-c3.png) no-repeat center top;
    background-size: contain;
    position: relative;
    z-index: 1;

}

.con3 .bg .tree1 {
    top: 400px;
    z-index: 5;
    -webkit-animation: tree 40s linear infinite;
    animation: tree 40s linear infinite;
}

.con3 .bg .tree2 {
    top: 380px;
    z-index: 4;
    margin-left: -15px;

}

.con3 .bg .tree3 {
    top: 370px;
    right: 0;
    z-index: 3;
    -webkit-animation: tree3 40s linear infinite;
    animation: tree3 40s linear infinite;
}

.con3 .bg .tree {

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.con3 .bg .cloud {
    opacity: .8;
    filter: alpha(opacity=80);
}

.con3 .bg .cloud1 {
    left: 53px;
    top: 135px;;
}

.con3 .bg .cloud2 {
    left: 234px;
    top: 80px;
}

.con3 .bg .cloud3 {
    left: 347px;
    top: 124px;
    opacity: 1;
    filter: alpha(opacity=100);
}

.con3 .bg .cloud4 {
    left: 397px;
    top: 254px;
    opacity: .8;
    filter: alpha(opacity=80);
}

.con3 .tower {
    width: 223px;
    left: 128px;
    top: 451px;
    z-index: 2;
}

.con3 .tower-mask {
    height: 75%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.con3 .txt {
    right: 121px;
    top: 717px;
    z-index: 5;
}

@-webkit-keyframes tree3 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    50% {
        -webkit-transform: translate(50%);
        transform: translate(50%);
    }

    100% {
        -webkit-transform: translate(0%);
        transform: translate(0%);
    }
}

@-webkit-keyframes tree {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    50% {
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
    }

    100% {
        -webkit-transform: translate(0%);
        transform: translate(0%);
    }
}

.con4 img {
    position: absolute;
}

.con4 .bg {

    height: 700px;
    margin: 0 50px;
    background: url(../images/japan/bg-c4.png) no-repeat center bottom;
    background-size: contain;
    position: relative;
    overflow: hidden;
}

.con4 .lute {
    width: 200px;
    top: 200px;
    left: 56px;
    -webkit-animation: lute 4s linear infinite;
    animation: lute 4s linear infinite;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
}

.con4 .pot {
    left: 326px;
    top: 565px;
    -webkit-animation: pot 1s linear .5s;
    animation: pot 1s linear .5s;
    -webkit-transform-origin: left 60%;
    -ms-transform-origin: left 60%;
    transform-origin: left 60%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 2;
}

.con4 .cup {
    left: 245px;
    top: 656px;
    z-index: 2;
}

.con4 .water {
    left: 271px;
    top: 611px;
}

.con4 .food {
    right: 50px;
    top: 720px;
}

.con4 .txt {
    left: 52px;
    top: 799px;
}

@-webkit-keyframes pot {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

@-webkit-keyframes lute {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }

    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    75% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.con5 img {
    position: absolute;
}

.con5 .bg {

    height: 600px;
    margin: 0 50px;
    background: url(../images/japan/bg-c5.png) no-repeat center bottom;
    background-size: contain;
    position: relative;

}

.con5 .women {
    left: 40px;
    top: 378px;
    z-index: 2;
}

.con5 .mask {
    left: 86px;
    top: 421px;
    z-index: 3;
    -webkit-animation: mask 5s ease-in-out 1s infinite;
    animation: mask 5s ease-in-out 1s infinite;
    -webkit-transform-origin: center 130%;
    -ms-transform-origin: center 130%;
    transform-origin: center 130%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.con5 .lantern {
    left: 218px;
    top: 608px
}

.con5 .txt {
    left: 90px;
    top: 767px;
}

.con5 .flower {
    z-index: 5;
}

.con5 .flower1 {
    left: 275px;
    top: 232px;;
}

.con5 .flower2 {
    left: 66px;
    top: 314px;
    -webkit-transform: rotate(30deg) scale(.8);
    -ms-transform: rotate(30deg) scale(.8);
    transform: rotate(30deg) scale(.8);
}

.con5 .flower3 {
    left: 334px;
    top: 465px;
    -webkit-transform: rotate(80deg) scale(.7);
    -ms-transform: rotate(80deg) scale(.7);
    transform: rotate(80deg) scale(.7);
}

.con5 .petal {

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 5;
}

.con5 .petal1 {
    -webkit-animation: petal1 5s ease-in-out 1s infinite;
    animation: petal1 5s ease-in-out 1s infinite;
}

.con5 .petal2 {
    -webkit-animation: petal2 8s ease-in-out 1s infinite;
    animation: petal2 8s ease-in-out 1s infinite;
}

.con5 .petal3 {
    -webkit-animation: petal3 10s ease-in-out 2s infinite;
    animation: petal3 10s ease-in-out 2s infinite;

}

.con5 .petal4 {
    -webkit-animation: petal4 6s ease-in-out 1s infinite;
    animation: petal4 6s ease-in-out 1s infinite;

}

.con5 .petal5 {
    -webkit-animation: petal5 15s ease-in-out 2s infinite;
    animation: petal5 15s ease-in-out 2s infinite;
}

@-webkit-keyframes petal1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        left: 10px;
        top: 100px;
    }

    100% {
        -webkit-transform: rotate(1000deg);
        transform: rotate(1000deg);

        left: 500px;
        top: 1000px;
    }
}

@-webkit-keyframes petal2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        left: 500px;
        top: 200px;
    }

    100% {
        -webkit-transform: rotate(1000deg);
        transform: rotate(1000deg);

        left: 100px;
        top: 1000px;
    }
}

@-webkit-keyframes petal3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        left: 200px;
        top: 100px;
    }

    100% {
        -webkit-transform: rotate(1000deg);
        transform: rotate(1000deg);

        left: 100px;
        top: 1000px;
    }
}

@-webkit-keyframes petal4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        left: 400px;
        top: 200px;
    }

    100% {
        -webkit-transform: rotate(2000deg);
        transform: rotate(2000deg);

        left: 500px;
        top: 3000px;
    }
}

@-webkit-keyframes petal5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        left: 200px;
        top: 100px;
    }

    100% {
        -webkit-transform: rotate(500deg);
        transform: rotate(500deg);

        left: 600px;
        top: 1200px;
    }
}

@-webkit-keyframes mask {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.photo-wall img {
    width: 100%;
    height: auto;
}

.con6 {
    text-align: center;
}

.con6 img {
    position: absolute;
}

.con6 .con {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
}

.con6 .txt {
    display: block;
    position: static;
    margin: 400px auto;
}

.con6 .logo {
   left:50%;
    top:50%;
    margin: -90px 0 0 -171px;
    position: absolute;

}

.con6 .footer {
    bottom: 0;
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
}

.con6 .footer:nth-child(odd) {
    left: 274px;

}

.con6 .footer:nth-child(even) {
    left: 335px;
    margin-bottom: 50px;
}

.con6 .footer3, .con6 .footer4 {
    bottom: 200px;
}

.con6 .footer5, .con6 .footer6 {
    bottom: 400px;
}

.con6 .footer7, .con6 .footer8 {
    bottom: 600px;
}

.con6 .footer9, .con6 .footer10 {
    bottom: 800px;
}

.con6 .footer11, .con6 .footer12 {
    bottom: 1000px;
}

.con6 .footer1 {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}

.con6 .footer2 {
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
}

.con6 .footer3 {
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
}

.con6 .footer4 {
    -webkit-animation-delay: 800ms;
    animation-delay: 800ms;
}

.con6 .footer5 {
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
}

.con6 .footer6 {
    -webkit-animation-delay: 1200ms;
    animation-delay: 1200ms;
}

.con6 .footer7 {
    -webkit-animation-delay: 1400ms;
    animation-delay: 1400ms;
}

.con6 .footer8 {
    -webkit-animation-delay: 1600ms;
    animation-delay: 1600ms;
}

.con6 .footer9 {
    -webkit-animation-delay: 1800ms;
    animation-delay: 1800ms;
}

.con6 .footer10 {
    -webkit-animation-delay: 2000ms;
    animation-delay: 2000ms;
}

.con6 .footer11 {
    -webkit-animation-delay: 2200ms;
    animation-delay: 2200ms;
}

.con6 .footer12 {
    -webkit-animation-delay: 2400ms;
    animation-delay: 2400ms;
}


