<ion-view class="view-share-detail" view-title="转发有奖">
    <ion-content class=" share-detail has-bottom">
        <div class="list share-list">
            <!--forward-->

            <div ng-if="vm.rule.filter.share">
                <div class="item item-icon-left">
                    <i class="ion-share icon"></i> 转发量红包
                    <span class="item-note">可领红包
                <img src="images/redpacket.png" alt=""> <span
                            class=" big" ng-class="{true:'notable',false:'gray'}[vm.view.forward_count>0]">{{vm.view.forward_count}}</span> 个</span>
                </div>
            </div>
            <!--view----------------->
            <div ng-if="vm.rule.filter.share_view">
                <div class="item item-icon-left">
                    <i class=" ion-person-stalker icon"></i> 访问量红包
                    <span class="item-note">可领红包
                <img src="images/redpacket.png" alt=""> <span
                            class=" big" ng-class="{true:'notable',false:'gray'}[vm.view.view_count>0]">{{vm.view.view_count}}</span> 个</span>
                </div>
            </div>

            <!--apply------------------------>
            <div ng-if="vm.rule.filter.share_apply">
                <div class="item item-icon-left">
                    <i class="ion-ios-paper icon"></i> 申请量红包
                    <span class="item-note">可领红包
                <img src="images/redpacket.png" alt=""> <span
                            class=" big" ng-class="{true:'notable',false:'gray'}[vm.view.apply_count>0]">{{vm.view.apply_count}}</span> 个</span>
                </div>
            </div>
            <div ng-if="corp.custom.redpack.ref">
                <!--Interviewed---------------->
                <div>
                    <div class="item item-icon-left">
                        <i class="ion-chatbubbles icon"></i> 进入面试红包
                        <span class="item-note">可领红包
                <img src="images/redpacket.png" alt=""> <span
                                class=" big" ng-class="{true:'notable',false:'gray'}[vm.view.interview_count>0]">{{vm.view.interview_count}}</span> 个</span>
                    </div>
                </div>
                <!--On-Boarding-->
                <div>
                    <div class="item item-icon-left">
                        <i class="ion-flag icon"></i> 成功入职红包
                        <span class="item-note">可领红包
                <img src="images/redpacket.png" alt=""> <span
                                class=" big" ng-class="{true:'notable',false:'gray'}[vm.view.onboard_count>0]">{{vm.view.onboard_count}}</span> 个</span>
                    </div>
                </div>
                <!--Pass Probation-->
                <div>
                    <div class="item item-icon-left">
                        <i class="ion-ribbon-b icon"></i> 通过试用期红包
                        <span class="item-note">可领红包
                <img src="images/redpacket.png" alt=""> <span
                                class=" big" ng-class="{true:'notable',false:'gray'}[vm.view.pp_count>0]">{{vm.view.pp_count}}</span> 个</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="button-wrap button-bordered" ng-if="vm.view.total_money">
                <a class="button button-block" ng-click="vm.showRdModal()">领取</a>
            </div>
            <div class="button-wrap button-bordered">
                <a class="button button-block"
                   ng-click="vm.showRuleModal()"> 金库规则</a>
            </div>
        </div>

    </ion-content>
</ion-view>
<script id="rd-modal.html" type="text/ng-template">
    <div class="rd-modal-bg"></div>
    <div class="rd-modal">
        <a class=" my-close" ng-click="vm.hideRdModal()"></a>
        <ion-content>
            <div class="top">
                <div class="text notable"><span class="num">{{vm.view.total_money}}</span>元</div>
            </div>

            <ul class="text-center content">
                <li ng-if="vm.view.forward_count>0">转发量红包 {{vm.view.forward_count}} 个，共 {{vm.view.forward_money}} 元</li>
                <li ng-if="vm.view.view_count>0">访问量红包 {{vm.view.view_count}} 个，共 {{vm.view.view_money}} 元</li>
                <li ng-if="vm.view.apply_count>0">申请量红包 {{vm.view.apply_count}}个，共 {{vm.view.apply_money}} 元</li>
                <li ng-if="vm.view.interview_count>0">进入面试红包 {{vm.view.interview_count}} 个，共
                    {{vm.view.interview_money}} 元
                </li>
                <li ng-if="vm.view.onboard_count>0">成功入职红包 {{vm.view.onboard_count}} 个，共
                    {{vm.view.onboard_money}} 元
                </li>
                <li ng-if="vm.view.pp_count>0">通过试用期红包 {{vm.view.pp_count}} 个，共 {{vm.view.pp_money}} 元</li>
            </ul>
            <div class="footer">
                <div class="button-wrap button-bordered">
                    <a class="button button-block"
                       on-tap="vm.sendRedPacket()">确认领取</a>
                </div>
            </div>
        </ion-content>
    </div>
</script>
<script id="rule-modal.html" type="text/ng-template">
    <div class="rule-modal-bg"></div>
    <div class="rule-modal">
        <div class="con">

            <img src="images/prize-rule-title.png" class="tit" alt="">
            <div class="wrap">
                <ion-content>
                    <div class="content">
                        <div class="notable">在职位招聘有效期内，通过本公众号转发招聘信息，可获得相应的红包奖励。</div>
                        <br>
                        <pre class="forehead" ng-if="vm.rule.forehead">{{vm.rule.forehead}}</pre>
                        <dl class="rule-share" ng-if="vm.rule.filter.share">
                            <dt class="notable">转发量红包：</dt>
                            <dd>
                                <i></i>用户每日首次转发招聘信息，可获得红包1个，奖励 <span
                                    class="notable">{{vm.rule.first_share_reward}}</span> 元。
                            </dd>
                            <dd>
                                <i></i>用户转发后，其分享信息又被他人转发累计次数满
                                <span class="notable">{{vm.rule.accumulate_share_count}}</span> 次，可获得红包1个，奖励 <span
                                    class="notable">{{vm.rule.accumulate_share_reward}}</span> 元。（每微信号每月可获红包上限数：<span
                                    class="notable">{{vm.rule.share_limit}}</span> 个）
                            </dd>
                        </dl>
                        <dl class="rule-share-view" ng-if="vm.rule.filter.share_view">
                            <dt class="notable">访问量红包：</dt>
                            <dd>
                                <i></i>用户转发的职位，其被访问量超过 <span class="notable">{{vm.rule.share_view_count}}</span>
                                次，可获得红包1个，奖励 <span class="notable">{{vm.rule.share_view_reward}}</span> 元。（每微信号每月可获红包上限数：<span
                                    class="notable">{{vm.rule.share_view_limit}}</span> 个）
                            </dd>

                        </dl>
                        <dl class="rule-share-apply" ng-if="vm.rule.filter.share_apply">
                            <dt class="notable">申请量红包：</dt>
                            <dd>
                                <i></i>用户转发的职位，每被申请人简历提交成功1次，可获得红包奖励 <span class="notable">{{vm.rule.share_apply_reward}}</span>
                                元。（每微信号每月可获红包上限数：<span class="notable">{{vm.rule.share_apply_limit}}</span> 个）
                            </dd>

                        </dl>
                        <dl ng-if="corp.custom.redpack.ref">
                            <dt class="notable">进入面试红包：</dt>
                            <dd>
                                <i></i>员工推荐的候选人，每1人进入面试阶段，可获得红包 <span class="notable">1</span>个。
                            </dd>

                        </dl>
                        <dl ng-if="corp.custom.redpack.ref">
                            <dt class="notable">成功入职红包：</dt>
                            <dd>
                                <i></i>员工推荐的候选人，每1人正式入职，可获得红包 <span class="notable">1</span>个。
                            </dd>

                        </dl>
                        <dl ng-if="corp.custom.redpack.ref">
                            <dt class="notable">通过试用期红包：</dt>
                            <dd>
                                <i></i>员工推荐的候选人，每1人通过试用期，可获得红包 <span class="notable">1</span>个。
                            </dd>
                        </dl>
                        <pre class="tail" ng-if="vm.rule.tail">{{vm.rule.tail}}</pre>
                        <br>
                        <div class="notable">注：如果发现存在恶意操作行为，则取消所有红包奖励。</div>
                    </div>
                </ion-content>
            </div>
            <div class="footer">
                <div class=" button-bordered">
                    <a class="button button-block"
                       ng-click="vm.hideRuleModal()"> 我知道了</a>
                </div>
            </div>
        </div>
    </div>
</script>

