@charset "utf-8";
/* reset */

* {

    -webkit-tap-highlight-color: transparent;

    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 30px;
}

body {
    height: 100%;
    overflow: hidden;

}

li {
    list-style-type: none
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%
}

iframe, frame, fieldset, img {
    border: 0 none
}

img {
    vertical-align: top
}

input[type=button], input[type=submit], input[type=reset] {
    cursor: pointer
}

button {
    cursor: pointer
}

.delay_100ms {
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
}

.delay_200ms {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}

.delay_300ms {
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
}

.delay_500ms {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}

.delay_700ms {
    -webkit-animation-delay: 700ms;
    animation-delay: 700ms;
}

.delay_900ms {
    -webkit-animation-delay: 900ms;
    animation-delay: 900ms;
}

.delay_1000ms {
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
}

.page {
    background: #fcfcfc;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.page .hd {
    height: 105px;
    background: -webkit-linear-gradient(#ed0000, #bf0007);

}

.page .hd .tit {
    height: 100%;
    margin-left: 10px;
}

.page .about .hd .tit {

    background: url("../img/tit1.png") no-repeat 10px center;
}

.page .env .hd .tit {

    background: url("../img/tit2.png") no-repeat 10px center;

}

.page .expert .hd .tit {

    background: url("../img/tit3.png") no-repeat 10px center;
}

.page.active {
    display: block;
}

.swipe {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.img-view {
    overflow: hidden;
    background: #fcfcfc;
}

.img-box
.img-view {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.img-view img {
    height: auto;
    width: 100%;
}

.swiper-container {
    background: #ddd;
}

.swiper-container .swiper-slide {
    background: #fcfcfc;
}

.about {
    overflow: hidden;
}

.about .main {
    margin: 100px 0 0;
    height: 850px;
    background: url("../img/bg.jpg") no-repeat center 0;
    position: relative;
}

.about .main .main-bg {
    display: none;
    height: 100%;
    background: url("../img/about0.png") center no-repeat;
}

.about .main .main-bg.bg1 {
    background-image: url("../img/about1.png");
}

.about .main .main-bg.bg2 {
    background-image: url("../img/about2.png");
}

.about .main .main-bg.bg3 {
    background-image: url("../img/about3.png");
}

.about .main .main-bg.bg4 {
    background-image: url("../img/about4.png");
}

.about .main .btn {
    position: absolute;
    display: none;
    z-index: 2;
}

.about .main .btn1 {

    top: 0;

    left: 50px;
}

.about .main .btn2 {

    top: 0;
    right: 50px;
}

.about .main .btn3 {

    bottom: 0;
    left: 50px;
}

.about .main .btn4 {

    bottom: 0;
    right: 50px;
}

.about .text {
    width: 440px;
    height: 315px;
    margin: 0 auto 0;
    padding: 200px 0 0;

}

.about.swiper-slide-active .btn, .about.swiper-slide-active .main-bg {
    display: inherit;
}

.page .btn-back {
    display: none;
}

.about .text .tt {
    height: 72px;
    overflow: hidden;
    text-align: center;
}

.about .text .con {
    font-weight: bold;
    font-family: "microsoft yahei", arial, Helvetica, sans-serif;
    color: #fff;
    height: 280px;
    line-height: 40px;
    overflow-y: auto;
    margin-top: 30px;
    padding-right: 5px;
}

.about .text li {
    display: none;

}

.page .bt {
    bottom: 80px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
}

.expert .expert-con {
    padding: 47px 0 0;
    text-align: center;
}

.expert .expert-con img {
    display: none;
}

.expert.swiper-slide-active img {
    display: inline;
}

.expert.swiper-slide-active img:nth-child(1) {
    margin: 0 0 40px 0;
}

.env .padding {
    padding: 38px 55px;
    height: 100%;
}

.env .env-con {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.env .btn-back {
    display: none;

}

.env .env-con img {
    position: absolute;
    display: none;
}

.swiper-slide-active .env-con img {
    display: block;
}

.swiper-slide-active .btn-back {
    display: inline-block !important;
}

.env .env-con img:nth-child(1) {
    left: 0;
    top: 0;
}

.env .env-con img:nth-child(2) {
    left: 0;
    top: 377px;
}

.env .env-con img:nth-child(3) {
    right: 0;
    top: 327px;
}

.env .env-con img:nth-child(4) {
    left: 0;

    top: 823px
}

.env .env-con img:nth-child(5) {
    right: 0;
    top: 756px
}

.page-img-box {
    background: rgba(0, 0, 0, .9);
}

.page-img-box .swiper-container {
    background: none;
}

.page-img-box .swiper-slide {
    background: none;
}

.btn-exit {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    z-index: 2;
}

.loading {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #e80000;
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.loading .loading-img {
    margin: -50px 0 85px;
    -webkit-animation: rotateLoading 2s linear infinite;
    animation: rotateLoading 2s linear infinite;

}

.loading .txt {
    width: 142px;
    height: 381px;

    position: relative;
}

.loading .txt .dots {
    width: 30px;
    position: absolute;
    right: 28px;
    bottom: -90px;
}

.loading .txt .dots .item {
    display: inline-block;
    width: 14px;
    height: 14px;
    overflow: hidden;
    margin-bottom: 30px;
    background: #fff;

}

.loading .con .result {
    height: 100%;
    float: left;
    background: greenyellow;
}

.music-toggle-btn {

    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1000;
    -webkit-animation: rollMusic 2s linear infinite;
    animation: rollMusic 2s linear infinite;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;

}

.music-toggle-btn.android {
    -webkit-animation: none;
    animation: none;
}

.music-toggle-btn.android.play {
    -webkit-animation: rollMusic 2s linear infinite;
    animation: rollMusic 2s linear infinite;
}

.music-toggle-btn.play {
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

@keyframes rotateLoading {
    0% {
        transform-origin: center;
        -webkit-transform-origin: center;
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);

    }
    100% {
        transform-origin: center;
        -webkit-transform-origin: center;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);

    }
}

@-webkit-keyframes rotateLoading {
    0% {
        transform-origin: center;
        -webkit-transform-origin: center;
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);

    }
    100% {
        transform-origin: center;
        -webkit-transform-origin: center;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);

    }
}

@-webkit-keyframes rollMusic {
    0% {
        transform-origin: center;
        -webkit-transform-origin: center;
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);

    }
    100% {
        transform-origin: center;
        -webkit-transform-origin: center;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);

    }
}

