<!--
  Generated template for the CheckMobilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
    <div class="con">
        <div class="main ">
            <lang-switcher></lang-switcher>
            <form novalidate [formGroup]="formModel" *ngIf="formModel">
                <img src="assets/images/avatar.png" class="user-avatar" alt="">

                <h2 class="f24">{{'PAGES.CHECK_MOBILE.TITLE'|translate}}</h2>
                <div class="gray">{{'PAGES.CHECK_MOBILE.VICE_TITLE'|translate}}</div>

                <div class="form-group">
                    <label class="control-wrap">
                        <ion-input type="tel" formControlName="mobile" [placeholder]="'PAGES.CHECK_MOBILE.PLACEHOLDER_TEL'|translate" minlength="11"
                                   maxlength="11"
                                   value=""></ion-input>
                    </label>
                    <div class="control-wrap">
                        <ion-input type="number" [placeholder]="'PAGES.CHECK_MOBILE.PLACEHOLDER_CODE'|translate"   minlength="4"  formControlName="code" maxlength="4"></ion-input>
                        <button ion-button class="btn-code" color="primary"
                                (click)="sendMsg()"
                                [disabled]="formModel.get('mobile').invalid||beCd"
                                small>
                            <span *ngIf="!beCd">{{'PAGES.CHECK_MOBILE.BTN_CODE'|translate}}</span>
                            <span *ngIf="beCd">{{'PAGES.CHECK_MOBILE.BTN_CODE1'|translate}}({{cd}})</span>
                        </button>
                    </div>
                </div>
                <div class="a-r m-t-xxl">
                    <button type="submit" class="btn-submit" (click)="onSubmit() "    [disabled]="formModel.invalid"  icon-right="" large ion-button clear color="primary">{{'PAGES.CHECK_MOBILE.SUBMIT'|translate}}
                        <ion-icon name="md-arrow-forward"></ion-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
</ion-content>
