<div class="btn-group btn-status btn-group-xs">
    {{tipPos}}
    <a class="btn btn-default"
       ng-click="setStatus('3')"
       tooltip="招聘完成"
       ng-if="posData.status!='3'"

       tooltip-append-to-body=" true"
       tooltip-popup-delay='1000s'>
        <span class="glyphicon glyphicon-ok"></span>
    </a>

    <a class="btn btn-default"
       tooltip="招聘开启"
       ng-click="setStatus('0')"
       ng-if="posData.status=='3'"

       tooltip-append-to-body=" true"
       tooltip-popup-delay='1000s'>
        <span class=" glyphicon glyphicon-play"></span>
    </a>

    <a class="btn btn-default"
       ng-click="setStatus('1')"
       tooltip="招聘暂停"
       ng-if="posData.status!='1'"

       tooltip-append-to-body=" true"
       tooltip-popup-delay='1000s'>
        <span class=" glyphicon glyphicon-pause"></span>
    </a>
    <a class="btn btn-default"
       tooltip="招聘开启"
       ng-click="setStatus('0')"
       ng-if="posData.status=='1'"

       tooltip-append-to-body=" true"
       tooltip-popup-delay='1000s'>
        <span class=" glyphicon glyphicon-play"></span>
    </a>
    <a class="btn btn-default"

       ng-if="posData.status!='2'"
       ng-click="setStatus('2')"
       tooltip="招聘取消"

       tooltip-append-to-body=" true"
       tooltip-popup-delay='1000s'>
        <span class=" glyphicon glyphicon-remove"> </span>
    </a>
    <a class="btn btn-default" tooltip="招聘开启"
       ng-click="setStatus('0')"
       ng-if="posData.status=='2'"

       tooltip-append-to-body=" true"
       tooltip-popup-delay='1000s'>
        <span class=" glyphicon glyphicon-play"> </span>
    </a>
</div>