<!--nav-->
<div class="sidebar">
    <div class="logo-con">
        <img src="images/logo.png" alt=""/>
    </div>
    <ul class="side-nav">

        <li ng-class=" {active:page =='pos_list'}"><a ng-href="#/company/list?page=1"><span
                class="glyphicon glyphicon-list icon"></span>公司列表</a></li>
        <li ng-class=" {active:page =='key_list'}"><a ng-href="#/key/list?page=1"><span
                class="glyphicon glyphicon-list icon"></span>授权列表</a></li>
        <li ng-class=" {active:page =='redpack_list'}"><a ng-href="#/redpack/list"><span
                class="glyphicon glyphicon-list icon"></span>红包流水</a></li>
        <li ng-class=" {active:page =='statistic'}"><a ng-href="#/statistic/index"><span
                class="glyphicon glyphicon-list icon"></span>统计图表</a></li>
    </ul>


</div>