<div  ng-show="isShow" >

<div class="search-more"  click-stop-prop>

    <a class="close glyphicon glyphicon-remove small" ng-click="hide()"></a>

    <form ng-submit="submit()" class="form-inline">
        <div class="form-group form-group-sm">
            <label>关键词：</label>
            <input type="text" style="width: 300px" class="form-control" placeholder="搜索关键词"/>
        </div>
        <div class="form-group form-group-sm">
            <label>居住地：</label>
            <input type="text" class="form-control" placeholder="居住地"/>
        </div>

        <div class="form-group form-group-sm">
            <label>现任公司：</label>
            <input type="text" class="form-control" placeholder="现任公司"/>
        </div>


        <div class="form-group form-group-sm">
            <label>曾任公司：</label>
            <input type="text" class="form-control" placeholder="曾任公司"/>
        </div>

        <div class="form-group form-group-sm">
            <label>学校：</label>
            <input type="text" class="form-control" placeholder="学校"/>
        </div>


        <div class="form-group form-group-sm">
            <label>工作经验：</label>
            <input type="text" class="form-control" placeholder="工作经验"/>
        </div>
        <div class="form-group form-group-sm">
            <label>简历更新时间：</label>
            <input type="text" class="form-control" placeholder="简历更新时间"/>
        </div>

        <div class="sbm mt10 ">
            <button class="btn btn-info btn-sm"><span class="glyphicon glyphicon-search"></span> 搜索</button>
            <a class="btn btn-default btn-sm">重置</a>

        </div>

    </form>

</div></div>