<div class="resume-detail">
    <div class="row detail-top">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="info">
                        <span class="item"></span>

                    </div>

                    <div class="row">
                        <div class="col-sm-4">姓名：</div>
                        <div class="col-sm-8">
                            <span ng-if="!vm.edit">{{vm.resume.name}}</span>
                            <span ng-if="vm.edit"><input ng-model="vm.resume.name"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">性别：</div>
                        <div class="col-sm-8">
                            <span ng-if="!vm.edit">{{vm.resume.gender == 'MALE' ? '男' : '女'}}</span>

                        </div>
                    </div>
                    <div class="row" ng-if="vm.resume.age">
                        <div class="col-sm-4">年龄:</div>
                        <div class="col-sm-8">
                            <span>{{vm.resume.age}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">学历:</div>
                        <div class="col-sm-8">
                            <span>{{vm.resume.edu[0].degree}}</span>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">毕业院校：</div>
                        <div class="col-sm-8">
                            <div ng-if="!vm.edit">
                                {{vm.resume.edu[0].school}}
                            </div>
                            <div ng-if="vm.edit"><input ng-model="vm.resume.edu[0].school"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">联系电话：</div>
                        <div class="col-sm-8">
                            <span ng-if="!vm.edit">{{vm.resume.mobile}}</span>
                            <span ng-if="vm.edit"><input ng-model="vm.resume.mobile"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Email：</div>
                        <div class="col-sm-8"><span ng-if="!vm.edit">{{vm.resume.email}}</span>
                            <span ng-if="vm.edit"><input ng-model="vm.resume.email"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="panel  panel-default">
                <div class="panel-body">
                    <!--  <a class="btn edit btn-sm btn-default pull-right" ng-click="vm.edit=1"><span
                              class="glyphicon glyphicon-edit"></span></a>-->
                    <ul>
                        <li>应聘职位：<a
                                ng-href="#/position/{{vm.resume.position_id}}">{{vm.resume.position_name}}</a><span
                                ng-if="vm.resume.position_status=='CLOSED'" class="red">（已关闭）</span></li>
                        <li>投递时间：{{vm.resume.created_at}}</li>
                        <li>简历来源：{{vm.resume.cv_source|cv_source}}</li>
                        <li>宣讲会：{{vm.resume.talk.location}}</li>
                    </ul>
                </div>
                <div class="panel-footer text-right">
                    <div class="btn-group">
                        <a class="btn btn-info " ng-if="vm.resume.file.length" ng-href="{{vm.getDlUrl()}}"> <span
                                class="glyphicon glyphicon-download"></span> 下载</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" ng-if="vm.questionnaire">
      <!--  <div class="panel-heading">甄选补充信息</div>-->
        <div class="panel-body">
            <div class="questionnaire">
           <span ng-repeat="(key,value) in vm.questionnaire" class="mr10 questionnaire-item  text-nowrap">
               <span class="hd">{{key}}</span>:
                <span>{{value}}</span>
           </span>
            </div>
        </div>
    </div>

    <ul class="preview">
        <li ng-repeat="item in vm.files">
            <!--  <div class="url"><a ng-href="{{item.url}}">{{item.url}}</a></div>-->
            <div class="no-file " ng-if="!item.isAcceptType"><span class="glyphicon glyphicon-eye-close"></span>暂无预览
            </div>
            <div class="img" ng-if="item.isImg"><img ng-src="{{vm.getTrustedUrl(item.url)}}" alt=""/></div>
            <iframe ng-if="item.type=='pdf'||item.type =='html'" ng-src="{{vm.getTrustedUrl(item.url).toString()}}"
                    frameborder="0"></iframe>
        </li>


    </ul>

</div>
