<!--<div class="debug">{{vm.companyList}}</div>-->
<div class="company-list">

    <div class="text-right clearfix mb10">
        <a ng-href="#/key/new" class="btn btn-success pull-left"><span class="glyphicon glyphicon-download-alt"></span> 创建 </a>
    </div>
    <table class="table table-hover table-striped ">
        <thead>
        <tr>
            <th width="4%"> ID </th>
            <th> 公司名 </th>
            <th> APP_ID </th>
            <th> 授权类型 </th>
            <th> 创建时间 </th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-class="{'pos-closed':item.status == 0}"  ng-repeat="item in vm.list" ng-class="{'closed':!item.status}">
            <td><a class="blue" ng-href="#/company/{{item.id}}">{{item.id}}</a></td>
            <td ng-if="!!item.company"><b>{{item.company.name}}</b></td>
            <td ng-if="!item.company && item.company_id" class="red">[公司ID未找到]</td>
            <td ng-if="!item.company && !item.company_id" class="blue">[公司ID未设置]</td>
            <td>{{item.app_id}}</td>
            <td ng-if="item.type==1">密钥方式</td>
            <td ng-if="item.type==2">第三方授权</td>
            <td> {{item.created_at | limitTo:10}}</td>
            <td><span class="btn-group btn-group-sm">
                <a class="btn btn-sm btn-default" ng-href="#/key/edit/{{item.id}}">编辑</a>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>