

<div class="pos-new container">
    <h2 class="page-tit"> {{vm.pageTit}}</h2>
    <!--<div>{{vm.data | json}}</div>-->

    <form class="form form-horizontal" novalidate name="formPos" ng-submit="vm.submit();">
        <div class="form-group">
            <label class="control-label col-sm-2">	授权类型：</label>

            <div ng-if="vm.data.type == 1" class="col-sm-4">密钥方式</div>
            <div ng-if="vm.data.type == 2" class="col-sm-4">第三方授权</div>
            <div class="col-sm-4">
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">公司：</label>

            <div class="col-sm-4">
                <select ng-model="vm.data.company_id">
                    <option ng-selected="vm.data.company_id == item.id" ng-value="item.id" ng-repeat="item in vm.options.company_list">{{item.name}}</option>
                </select>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2"><span style="color: red">*</span>APPID：</label>

            <div class="col-sm-4">
                <input type="text" ng-model="vm.data.app_id" maxlength="200"
                       required="" class="form-control"/>
            </div>
            <div class="col-sm-4">
            </div>
        </div>

        <div class="form-group" ng-if="vm.data.type == 1">
            <label class="control-label col-sm-2"><span style="color: red">*</span>APP KEY：</label>

            <div class="col-sm-4">
                <input type="text" ng-model="vm.data.app_secret" placeholder="" maxlength="60"
                       required="" class="form-control"/>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div ng-if="vm.data.type == 1">
            <label class="control-label col-sm-2"><span style="color: red"></span>才历测试号：</label>

            <div class="col-sm-4">
                APPID: wx87793b35e9a38ee2<br>
                APPSECRET: 00beb64b1af18cbe341f7ca8897c4d53
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div ng-if="vm.data.type == 2">
            <label class="control-label col-sm-2"><span style="color: red"></span>备注：</label>

            <div class="col-sm-4">
                {{vm.des.authorizer_info.nick_name}}<br>
                <img ng-src="{{vm.des.authorizer_info.head_img}}" style="width: 150px; height:150px">
            </div>
            <div class="col-sm-4">
            </div>
        </div>

        <div class="form-group mt10">
            <div class="col-sm-9 col-sm-offset-2">
                <button class="btn btn-primary">提交</button>
                <a class="btn" ng-href="#/key/list">返回</a>
            </div>
        </div>
    </form>
</div>
