<div class="form-inline dpt">
    <ui-select ng-model="vm.selectCtgy" style="width: 285px;" theme="select2"  on-select="onSelect($item,$select)" class="mr5">
        <ui-select-match placeholder="请选择职位类别">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="item in categories | filter: $select.search">
            <span class="pull-left iconfont {{item.icon_name}} select-icon select-icon-position" ng-hide="hide_icon==1"
                  style="color:{{item.icon_color}}"></span>
            <span ng-if="$index==0" class="gray  pull-right glyphicon glyphicon-plus remove-position"></span>
            <span ng-if="$index==0" ng-hide="hide_icon==1"
                  class="gray  pull-left iconfont icon-newclassification select-icon select-icon-position"
                  style="color:#984241;"></span>
                        <span ng-if="$index>0" class=" gray pull-right  glyphicon glyphicon-remove remove-position"
                              style="font-size:15px;"
                              ng-click="removeCategory(item.id)"></span>
                        <span ng-if="$index>0" class=" gray  pull-right glyphicon glyphicon-pencil select-icon"
                              style="font-size:15px;"
                              ng-click="editCtgy(item.id)"></span>

            <div ng-bind-html="item.name|highlight: $select.search">
            </div>
        </ui-select-choices>
    </ui-select>
</div>