<div>
    <div class="modal-header">
        <h3 class="modal-title">导入员工数据</h3>
    </div>
    <div class="modal-body">
        <span class="green pull-right" ng-if="uploadState">正在上传中，请稍后..</span> <sim-uploader class="ml10" accept-file-type="typeAccept" label="选择文件" exports="uploaderExports"></sim-uploader>
    </div>
    <div class="modal-footer">

        <span class="gray small pull-left"> 请上传：<span ng-repeat="type in typeAccept">{{type}}<span ng-if="!$last">，</span></span>格式</span>
        <button class="btn btn-primary" type="button" ng-click="upload()">导入</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    </div>
</div>