<div class="search">
    <form ng-submit="submit()" class="form-inline">
        <div class="search-con pull-left">
            <button class="btn btn-link"><span class="glyphicon glyphicon-search"></span></button>
            <div class="input-group search-type btn-group">
                <div class="input-group-btn dropdown" dropdown>
                    <a class="btn btn-default" dropdown-toggle>{{activeType.label}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-click="setSearchType(item)" ng-repeat="item in types"><a> <span ng-if="item.active"
                                                                                               class="pull-right small green glyphicon glyphicon-ok"></span>{{item.label}}</a>
                        </li>
                    </ul>
                </div>
                <input type="text" class="form-control top-bar-search" ng-model="keyword"
                       placeholder=" {{placeHolder}}"/>
            </div>
        </div>
    </form>

</div>