<ion-view class="view-share-rule" view-title="金库规则">
    <ion-content class=" share-rule">
        <div class="bar-rule">
            <i class="ion-android-map mr10"></i> 红包，悬赏及提现规则
        </div>
        <div class="content padding">
            <p>
                规则，一般指由群众共同制定、公认或由代表人统一制定并通过的，由群体里的所有成员一起遵守的条例和章程。它存在三种形式：明规则、潜规则、元规则，无论何种规则只要违背善恶的道德必须严惩不贷以维护世间和谐；明规则是有明文规定的规则，存在需要不断完善的局限性；潜规则是无明文规定的规则，约定俗成无局限性，可弥补明规则不足之处；元规则是一种以暴力竞争解决问题的规则，善恶参半，非道德之理的文明之道。</p>
            <dl class="card card-warning" >
                <dt>规则1</dt>
                <dd>
                    1:个人遵守这些规则；
                </dd>
                <dd>
                    2:潜规则是无明文规定的规则，约定俗成；
                </dd>
                <dd>
                    3:潜规则是无明文规定的规则，；
                </dd>
                <dd>
                    4:潜规则是无明文规定的规则，约定俗成潜规则是无明文规定的规则，约定俗成；
                </dd>

            </dl>
            <dl class="card card-danger">
                <dt>规则1</dt>
                <dd>
                    1:个人遵守这些规则；
                </dd>
                <dd>
                    2:潜规则是无明文规定的规则，约定俗成；
                </dd>
                <dd>
                    3:潜规则是无明文规定的规则，；
                </dd>
                <dd>
                    4:潜规则是无明文规定的规则，约定俗成潜规则是无明文规定的规则，约定俗成；
                </dd>
            </dl>
            <div class="gray">
                则是无明文规定的规则，约定俗成潜规则是无明文

            </div>
        </div>




    </ion-content>

</ion-view>
