<div class="pos-resume-list">
    <div>
        <div class="text-right clearfix mb10">
            <a class="btn btn-success pull-left"><span class="glyphicon glyphicon-download-alt"></span> {{title}}</a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>姓名</th>
                <th>性别</th>
                <th>推荐人</th>
                <th>申请岗位</th>
                <th>工作经验</th>
                <th>学历</th>
                <th>毕业院校</th>
                <th>现任职位</th>
                <th width="250" ng-if="vm.viewType==1">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.resumeList">
                <!--<td><input type="checkbox" ng-model="item.checked"/></td>-->
                <td><a ng-href="#/resume/{{item.id}}"> {{item.name}} </a> </td>
                <td >item.gender|gender</td>

                <td>{{item.ref}}</td>
                <td>{{item.position}}</td>
                <td>{{item.work_exp}}年</td>
                <td>{{item.edu[0].degree}}</td>
                <td>{{item.edu[0].school}}</td>
                <td>{{item.exp[0].position}}</td>
                <td ng-if="vm.viewType==1"> <span class="btn-group btn-group-sm">
                    <a class="btn btn-default">关注</a><a class="btn btn-default">关联职位</a><a
                        class="btn btn-default">备注</a><a
                        class="btn btn-default">发邮件</a>
                </span></td>
            </tr>
            <tr ng-if="vm.resumeList.length == 0">
                <td colspan="10">暂无已投递简历</td>
            </tr>
            </tbody>

        </table>
    </div>
    <div class="ft">
        <div class="pull-right">
            <pagination ng-if="vm.totalItems>20" items-per-page="20" max-size="5" boundary-links="true"
                        total-items="vm.totalItems"
                        ng-change="vm.pageChanged()" ng-model="vm.currentPage"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                        last-text="&raquo;"></pagination>
        </div>
    </div>
</div>