<ion-view view-title="非常感谢" ng-if="vm.typeSuccess">
    <ion-content delegate-handle="posContent" overflow-scroll='{{isIOS?false:true}}' class="resume-success">
        <div class="filter-title">
            <div class="ey-hd"><span class="tit">{{vm.pageTit}}</span></div>
        </div>

        <div class="content text-center">
            <p class="yellow-ey">恭喜你，已经成功完成申请啦！</p>

            <p>接下来我们将光速展开后续甄选流程，</p>

            <p>并尽快为符合条件的同学发出下一步邀请，</p>

            <p class="mb20">敬请期待！</p>

            <p>如有任何疑问，</p>

            <p>请拨打安永人力资源</p>

            <p>服务中心热线：400 860 9960

            <p>

            <p>进行详细查询。</p>
        </div>

        <div class="footer">
            <a ng-href="#/resume/more">
                <button class="button button-block button-ey">了解更多</button>
            </a>
        </div>
    </ion-content>
</ion-view>
<ion-view view-title="了解更多" ng-if="vm.typeMore">
    <ion-content delegate-handle="posContent" overflow-scroll='{{isIOS?false:true}}'  class="resume-success">
        <div class="filter-title">
            <div class="ey-hd"><span class="tit">{{vm.pageTit}}</span></div>
        </div>

        <div class="content text-center">
            <p class="yellow-ey">想对安永了解更多？</p>

            <p class="mb20">来听听安永君的校园巡回交流会吧。</p>

            <p>魅力大咖，资深校友，</p>

            <p>讲述你最感兴趣的故事，</p>

            <p class="mb20">带你体验合伙人模拟面试。</p>

            <p>快来一探究竟吧！</p>

        </div>

        <div class="footer">
            <button class="button button-block button-ey">查看校园巡回交流会</button>
        </div>
    </ion-content>
</ion-view>
