<ion-view cache-view="false" view-title="职位推荐">
    <ion-content overflow-scroll='{{isIOS?false:true}}'>
        <div class="resume-rec ">
            <form name="rec.rFm" novalidate ng-submit="vm.rec()">
                <div class="list ">
                    <div class="item item-divider">
                        <i class="icon ion-information-circled theme-color"></i> 被推荐人信息
                    </div>
                    <label class="item item-input" ng-class=" {error:vm.submited&&rec.rFm.name.$error.required}">
                        <span class="input-label"><span
                                class="icon ion-person gray-reset new-icon-position"></span> 姓名<sup class="red">*</sup>：</span>
                        <input type="text" name="name" required ng-model="vm.mod.name">
                    </label>
                    <label class="item item-input"
                           ng-class="{error:vm.submited&&(rec.rFm.mobile.$error.required||rec.rFm.mobile.$error.maxlength)}">
                        <span class="input-label"><span
                                class="icon ion-ios-telephone gray-reset new-icon-position"></span> 电话<sup
                                class="red">*</sup>：</span>
                        <input type="text" name="mobile" required="" ng-model="vm.mod.mobile" maxlength="13">
                    </label>

                    <label class="item item-input"
                           ng-class="{error:rec.rFm.email.$error.email}">
                        <span class="input-label"><span
                                class="icon ion-email gray-reset new-icon-position"></span> 邮箱：</span>
                        <input type="email" name="email" ng-model="vm.mod.email">
                    </label>
                    <label class="item item-input"
                           ng-class="{error:vm.submited&&(rec.rFm.work_exp.$error.required||rec.rFm.work_exp.$error.number)}">
                        <span class="input-label"><span
                                class="icon ion-person-stalker gray-reset new-icon-position"></span> 工作经验<sup
                                class="red">*</sup>：</span>
                        <input placeholder="请输入数字" type="number" name="work_exp" required ng-model="vm.mod.work_exp">
                    </label>

                    <label class="item item-input" ng-class="{error:vm.submited&&rec.rFm.company.$error.required}">
                        <span class="input-label"><span class="icon ion-printer gray-reset new-icon-position"></span> 当前公司<sup
                                class="red">*</sup>：</span>
                        <input type="text" name="company" required ng-model="vm.mod.company">
                    </label>
                    <label class="item item-input" ng-class="{error:vm.submited&&rec.rFm.position.$error.required}">
                        <span class="input-label"><span class="icon ion-briefcase gray-reset new-icon-position"></span> 当前职位<sup
                                class="red">*</sup>：</span>
                        <input type="text" name="position" required ng-model="vm.mod.position">
                    </label>
                    <label class="item   " ng-class="{error:vm.submited&&vm.fileEmpty}">
                        <ul class="file-list" ng-if="vm.mod.file.length">
                            <li ng-repeat="item in vm.mod.file">
                                <i class="icon ion-trash-a pull-right big" on-tap="vm.deleteFile($index)"></i>
                                {{item.info.name}}
                            </li>
                        </ul>
                        <div ng-if="vm.mod.file.length<4">
                        <span class="btn btn-upload   button-theme">上传附件
                            <input type="file"
                                   reader-error="vm.readerError(msg)"
                                   reader-success="vm.readerSuccess(fileData)"
                                   file-type="vm.fileType"
                                   file-info="vm.fileInfo"
                                   fileread="vm.fileData"
                                   class="file"/>
                        </span> <span class="ml5 small  gray">最多上传4个附件</span>

                        </div>
                    </label>
                </div>
                <div class="list edu-list">
                    <div class="item item-divider">
                        <i class="icon ion-information-circled theme-color"></i> 推荐人信息
                    </div>
                    <label class="item item-input" ng-class="{error:vm.submited&&rec.rFm.ref_name.$error.required}">
                        <span class="input-label"><span
                                class="icon ion-person gray-reset new-icon-position"></span> 姓名<sup class="red">*</sup>：</span>
                        <input type="text" name="ref_name" required="" ng-model="vm.mod.ref_name">
                    </label>
                    <label class="item item-input" ng-class="{error:vm.submited&&rec.rFm.ref_mobile.$error.required}">
                        <span class="input-label"><span
                                class="icon ion-ios-telephone gray-reset new-icon-position"></span> 电话<sup
                                class="red">*</sup>：</span>
                        <input type="number" name="ref_mobile" required ng-model="vm.mod.ref_mobile">
                    </label>
                    <label class="item item-input" ng-class="{error:rec.rFm.ref_email.$error.email}">
                        <span class="input-label"><span
                                class="icon ion-email gray-reset new-icon-position"></span> 邮箱：</span>
                        <input type="email" name="ref_email" ng-model="vm.mod.ref_email">
                    </label>


                    <div class="item" ng-class="{error:vm.submited&&!vm.agree}">
                        <label class="word-no-warp"><input type="checkbox" ng-model="vm.agree"/>
                            本人承诺所有提供的个人资料真实有效，并同意以上个人资料将会用于{{corp.full_name}}人才吸引和招聘用途。</label>
                    </div>
                </div>


                <div class="padding">
                    <button class="button button-block button-theme ">提交</button>
                </div>

            </form>
        </div>
    </ion-content>
</ion-view>
