<ion-view class="view-pos-detail" view-title="招聘职位">

    <ion-content delegate-handle="posContent" overflow-scroll='{{isIOS?false:true}}' class="padding pos-detail">
        <div class="tp">
            <div class="ey-hd"><span class="tit">职位描述</span></div>
            <div class="info">
                <div class="pos-name">
                    {{vm.pos.name}}<span class="pos-tags"><span ng-repeat="tag in vm.pos.tag" class=" pos-label"
                                                                ng-class="{'hot':'label-danger','urgent':'label-warning'}[tag]">{{tag|posTag}}</span></span>
                </div>
                <div class="row">
                    <div class="col">
                        工作城市：<span ng-repeat="item in vm.pos.city_list">{{item.label}} </span>
                    </div>
                </div>
                <div class="row">
                    <!--<div class="col ">截止日期：{{vm.pos.deadline*1000|date:'yyyy-MM-dd'}}</div>-->
                    <div class="col">
                        工作部门：<span>{{vm.pos.department.name}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        岗位要求:
                    </div>
                </div>
                <div class="jd" ng-bind-html="vm.html">
                </div>
            </div>
        </div>
        <div class="footer" ng-if="!user.hasApplied">
            <a class="button button-block button-ey btn-bottom" ng-click="vm.apply()">申请职位</a>
        </div>

        <div class="footer" ng-if="user.hasApplied">
            <!--<a class="button button-block button-ey btn-bottom" ui-sref="resume.edit({id:user.resume.id})">修改我的简历</a>-->
            <a class="button button-block button-ey " ui-sref="position.listByProperty({property:2})"><span
                    ng-if="!user.hasApplied">返回职位列表</span><span
                    ng-if="user.hasApplied">返回我申请的职位</span></a>
        </div>
    </ion-content>
    <!--<div class="footer row">
        <div class="button-bar ">
            <a ng-click="vm.apply()" class="button button-theme btn-center"><i
                    class=" big ion-ios-paperplane"></i> <span
                    ng-if="vm.hasApplied">重新</span>申请</a>
            <a class="button    button-theme btn-center"
               ng-href="#/resume/rec?position_id={{vm.pos.id}}&position_name={{vm.pos.name}}"> <i class="ion-leaf"></i>
                推荐</a>
        </div>
    </div>-->
</ion-view>
