page-index{
  lang-switcher{
    position:absolute;
    right:0;
    top:0;
  }

  .btn-help{
    position:absolute;
    left:0;
    top:0;
  }
  .content{

    padding:27px 23px;

    line-height:28px;
    font-size:15px;
    h2{
      font-size:24px;
      margin:0 0 10px;
    }
  }
}
