<ion-view class="view-about-company" view-title="公司简介">
    <ion-content class=" about-company ">
        <div class="img-company" ng-if="vm.info.about_banner"><img ng-src="{{vm.info.about_banner}}" alt=""></div>
        <div class="padding">
            <ul class="hd" ng-if="vm.info.location">
                <li><i class="ion-ios-location big mr5"></i> 地点：{{vm.info.location}}</li>
                <!--  <li><i class="ion-ios-people big"></i> 公司规模：500人</li>-->
            </ul>

            <div class="content" ng-bind-html="vm.info.description">


            </div>
        </div>

    </ion-content>

</ion-view>

