<ul class="nav nav-tabs">
    <li role="presentation"><a href="#/user-info">用户信息</a></li>
    <li role="presentation"><a href="#/setting">企业宣传信息</a></li>
    <li role="presentation" class="active" ng-if="company.custom.company_introduce"><a href="#/about">公司简介</a></li>
</ul>


<div class="container mt20" style="width: 800px;">
    <form novalidate name="form" ng-submit="vm.submit(form)">
        <h4 class="page-tit ">公司图片：</h4>
        <div class="panel panel-default banner">
            <div class="panel-body">
                <div class="banner-bg-con pull-left">
                    <div class="banner-bg" ng-class="{'has-img':vm.model.about_banner.data}">
                        <img ng-src="{{vm.model.about_banner.data}}" ng-if="vm.model.about_banner.data" alt="">
                    </div>
                </div>
                <div class="r">
                    <h4>公司简介照片</h4>
                    <div class="gray">建议600px * 200px,不超过200k</div>
                </div>
                <span class="btn-group btn-group-sm btn-group-upload">
                    <span class="btn btn-default btn-upload">选择文件 <input type="file" file-info="vm.fileInfo"
                                                                         reader-error="vm.readerError(msg)"
                                                                         fileread="vm.model.about_banner.data"
                                                                         filetype="vm.model.about_banner.type"
                                                                         class="file"/></span>
                </span>
            </div>
        </div>
        <h4 class="page-tit ">公司描述：</h4>
        <div id="myEditor" um on-ready='vm.umReady(um)' um-obj="vm.um" style="height:200px;"></div>
        <div class="location mt20">
            <div class="pull-left l">公司地址：</div>
            <div class="r">
                <input type="text" ng-model="vm.model.location"  class="form-control">
            </div>

        </div>


        <div class="mt30">
            <button class="btn btn-primary" >确认发布</button>
        </div>
    </form>
</div>

