<div class="layer-remark" ng-show="isShow">
    <span class="close glyphicon glyphicon-remove" ng-click="close()"></span>
    <div class="panel-body">
            <textarea class="form-control" maxlength="144" ng-model="commentTxt" rows="3"></textarea>
        <div class=" mt5" ><span class="ct ">还可以输入<span class="big" ng-class="{true:'green',false:'red'}[getRemain()>0]"> {{getRemain()}} </span>字</span>  <a class="btn btn-sm btn-primary pull-right" ng-click="submit()">提交</a></div>


        <div class="line mt10 mb10"></div>
        <ul class="comment-list">
            <li ng-repeat="li in commentList">
                <div class="tp gray small"><span class="pull-right">{{li.release_date|date:'yyyy-MM-dd'}}</span>{{li.user_name}}说：</div>
                <div class="content">
                    {{li.content}}
                </div>
            </li>
        </ul>
    </div>
</div>