<div class="dialog-newDpt dialog " tabindex="-1" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="no()"
                    aria-hidden="true"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">提醒</h4>
        </div>
        <div class="form form-horizontal modal-body">
            <label class="control-label">确定删除{{Name}}吗？</label>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="yes()">是</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="no()">否</button>
        </div>
    </div>
</div>
</div>