<div class="sel-pos-dialog  dialog"   ng-show="isShow">

    <div class="modal-body">
        <span class="close small glyphicon glyphicon-remove" ng-click="cancel()"></span>
        <div class="sel-pos">
            <div class="content">
                <dl  ng-repeat="(k,v) in viewGrouped">
                    <dt ng-if="k!='undefined'">{{k}}<input ng-if="$index ==2"  class="form-control  input-sm ml10" type="text" placeholder="输入关键字查找职位" ng-model="vm.keyword"/></dt>
                    <dd>

                        <a ng-if="$parent.$index ==2" class="item" ng-class="{'active':item.active}" ng-repeat="item in v |filter:{name:vm.keyword} " ng-click="toggleActive(item)">{{item.name}}</a>
                        <a ng-if="$parent.$index !=2" class="item" ng-class="{'active':item.active}" ng-repeat="item in v" ng-click="toggleActive(item)">{{item.name}}</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-success btn-sm" ng-click="ok()">确定</a>
        <a class="btn btn-default btn-sm" ng-click="cancel()">取消</a>
    </div>

</div>
