<div class="rec-list ">
    <table class="table table-striped">
        <tr>
            <th>微信昵称</th>
            <th>员工姓名</th>
            <th>联系方式</th>
            <th>推荐次数</th>
        </tr>

        <tr>
            <td>飞翔的胖子</td>
            <td>丛明</td>
            <td>18616887739</td>
            <td>2</td>
        </tr>
        <tr>
            <td>飞翔的胖子</td>
            <td>丛明</td>
            <td>18616887739</td>
            <td>2</td>
        </tr>
        <tr>
            <td>飞翔的胖子</td>
            <td>丛明</td>
            <td>18616887739</td>
            <td>2</td>
        </tr>
        <tr>
            <td>飞翔的胖子</td>
            <td>丛明</td>
            <td>18616887739</td>
            <td>2</td>
        </tr>
        <tr>
            <td>飞翔的胖子</td>
            <td>丛明</td>
            <td>18616887739</td>
            <td>2</td>
        </tr>
        <tr>
            <td>飞翔的胖子</td>
            <td>丛明</td>
            <td>18616887739</td>
            <td>2</td>
        </tr>
        <tr>
            <td>飞翔的胖子</td>
            <td>丛明</td>
            <td>18616887739</td>
            <td>2</td>
        </tr>
    </table>
    <div class="ft">
        <div class="pull-right">
            <pagination ng-if="vm.totalItems>20" items-per-page="20" max-size="5" boundary-links="true"
                        total-items="vm.totalItems"
                        ng-change="vm.pageChanged()" ng-model="vm.currentPage"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                        last-text="&raquo;"></pagination>
        </div>


    </div>
</div>