<ion-view class="view-others">
    <ion-nav-title><h4>指南</h4></ion-nav-title>
    <ion-content>
        <div class=" padding-bottom">
            <!--<div class="text-center gray">敬请期待</div>-->

            <div class="gray  padding info"><i class="ion-ios-lightbulb-outline"></i> 点击缩略图查看大图</div>
            <ul class="ck" wx-preview-img >
                <li>
                    <div><img src="/site/app_aia/images/zhn-1.jpg" alt=""></div>

                </li>
                <li>
                    <div><img src="/site/app_aia/images/zhn-2.jpg" alt=""></div>

                </li>
                <li>
                    <div><img src="/site/app_aia/images/zhn-3.jpg" alt=""></div>

                </li>
                <li>
                    <div><img src="/site/app_aia/images/zhn-4.jpg" alt=""></div>

                </li>
            </ul>


        </div>
    </ion-content>
</ion-view>




