<ul class="nav nav-tabs">
    <li role="presentation" ng-class="{'active':vm.stateIs('redPacket.rule')}"><a href="#/red-packet/rule">红包规则</a></li>
    <li role="presentation" ng-class="{'active':vm.stateIs('redPacket.statistic')}"><a href="#/red-packet/statistic">红包统计</a></li>
</ul>
<div class="tab-con mt20 setting">
    <form class="form" novalidate name="form" ng-submit="vm.submit(form)">

        <div class="panel panel-default  ">
            <div class="panel-heading "><strong>红包金额设置</strong></div>
            <div class="panel-body ">
                <dl>
                    <dt>个人转发量排名 <a class=" ml10 btn btn-xs btn-default"
                                   ng-click="vm.setFilterRule('share',true)" ng-if="!vm.rule.filter.share">开启规则</a>
                        <a class="ml10 btn btn-xs  btn-default" ng-click="vm.setFilterRule('share',false)"
                           ng-if="vm.rule.filter.share">关闭规则</a></dt>

                    <dd class="form-inline  mt10  padding" ng-if="vm.rule.filter.share">
                        <span class="mr30"
                              ng-class="{'has-error':(form.first_share_reward.$error.required||form.first_share_reward.$error.min)&&form.$submitted}">每日首次转发：
                            <input type="number" ng-model="vm.rule.first_share_reward"
                                   class="form-control input-sm w80" name="first_share_reward" required min="0"> 元</span>
                    <span class="mr30">转发数累计：满

                        <span ng-class="{'has-error':(form.accumulate_share_count.$error.required||form.accumulate_share_count.$error.min)&&form.$submitted}"><input
                                type="number" ng-model="vm.rule.accumulate_share_count"
                                class="form-control input-sm w80" name="accumulate_share_count" required  min="0"></span>  次，
                        可获得
                       <span ng-class="{'has-error':(form.accumulate_share_reward.$error.required||form.accumulate_share_reward.$error.min)&&form.$submitted}">
                           <input type="number" ng-model="vm.rule.accumulate_share_reward"
                                  class="form-control w80" name="accumulate_share_reward" required  min="0"></span>

                        元</span>
                        <span>每微信号每月获取红包上限：
                            <span ng-class="{'has-error':(form.share_limit.$error.required||form.share_limit.$error.min)&&form.$submitted}"><input
                                    type="number" ng-model="vm.rule.share_limit"
                                    class="form-control input-sm  w80" name="share_limit" required  min="0"></span> 个</span>
                    </dd>

                </dl>

                <dl>
                    <dt>转发职位被访问排名 <a class=" ml10 btn btn-xs btn-default"
                                     ng-click="vm.setFilterRule('share_view',true)" ng-if="!vm.rule.filter.share_view">开启规则</a>
                        <a class="ml10 btn btn-xs  btn-default" ng-click="vm.setFilterRule('share_view',false)"
                           ng-if="vm.rule.filter.share_view">关闭规则</a></dt>
                    <dd class="form-inline padding  mt10" ng-if="vm.rule.filter.share_view">
                    <span class="mr30">被访问量累计：满
                        <span ng-class="{'has-error':(form.share_view_count.$error.required||form.share_view_count.$error.min)&&form.$submitted}">
                            <input type="number" class="form-control input-sm w80" name="share_view_count"
                                   ng-model="vm.rule.share_view_count"
                                   required  min="0"></span> 次，可获得

                        <span ng-class="{'has-error':(form.share_view_reward.$error.required||form.share_view_reward.$error.min)&&form.$submitted}"><input
                                type="number" class="form-control input-sm w80"
                                ng-model="vm.rule.share_view_reward" name="share_view_reward"  min="0" required> </span>元</span>
                        <span class="">每微信号每月获取红包上限：
                          <span ng-class="{'has-error':(form.share_view_limit.$error.required||form.share_view_limit.$error.min)&&form.$submitted}">
                              <input type="number" class="form-control input-sm w80" ng-model="vm.rule.share_view_limit"
                                     required  min="0" name="share_view_limit"></span> 个</span>
                    </dd>
                </dl>


                <dl class="no-margin">
                    <dt>转发职位被申请排名<a class=" ml10 btn btn-xs btn-default"
                                    ng-click="vm.setFilterRule('share_apply',true)" ng-if="!vm.rule.filter.share_apply">开启规则</a>
                        <a class="ml10 btn btn-xs  btn-default" ng-click="vm.setFilterRule('share_apply',false)"
                           ng-if="vm.rule.filter.share_apply">关闭规则</a></dt>
                    <dd class="form-inline padding  mt10" ng-if="vm.rule.filter.share_apply">
                        <span class="mr30">每被申请人简历提交成功1次，可获得：
                            <span ng-class="{'has-error':(form.share_apply_reward.$error.required||form.share_apply_reward.$error.min)&&form.$submitted}"> <input
                                    type="number" ng-model="vm.rule.share_apply_reward"
                                    class="form-control w80" name="share_apply_reward" required  min="0"></span> 元</span>
                        <span class="">每微信号每月获取红包上限：
                            <span ng-class="{'has-error':(form.share_apply_limit.$error.required||form.share_apply_limit.$error.min)&&form.$submitted}">
                                <input type="number" ng-model="vm.rule.share_apply_limit"
                                       class="form-control w80" required name="share_apply_limit"  min="0"> </span>个</span>
                    </dd>
                </dl>
            </div>

        </div>
        <div class="panel panel-default">
            <div class="panel-heading "><span class="gray small pull-right">（本段文字上下可编辑，正文不可编辑和更改)</span><strong>红包规则</strong></div>
            <div class="panel-body">
                <textarea class="form-control mb10" rows="3" ng-model="vm.rule.forehead"></textarea>
                <p>在职位招聘有效期内，通过本公众号转发招聘信息，可获得相应的红包奖励。</p>
                <p ng-if="vm.rule.filter.share">转发量红包：（1）用户每日首次转发招聘信息，可获得红包1个，奖励 <span class="orange">{{vm.rule.first_share_reward||'--'}}</span>
                    元。
                    （2）用户转发后，其分享信息又被他人转发累计次数满 <span class="orange">{{vm.rule.accumulate_share_count||'--'}}</span>
                    次，可获得红包1个，奖励
                    <span class="orange">{{vm.rule.accumulate_share_reward||'--'}}</span> 元。（每微信号每月可获红包上限数：<span
                            class="orange">{{vm.rule.share_limit||'--'}}</span> 个）</p>

                <p ng-if="vm.rule.filter.share_view">访问量红包：（1）用户转发的职位，其被访问量超过 <span class="orange">{{vm.rule.share_view_count||'--'}}</span>
                    次，可获得红包1个，奖励
                    <span class="orange">{{vm.rule.share_view_reward||'--'}}</span> 元。（每微信号每月可获红包上限数：<span
                            class="orange">{{vm.rule.share_view_limit||'--'}}</span> 个）</p>

                <p ng-if="vm.rule.filter.share_apply">申请量红包：（1）用户转发的职位，每被申请人简历提交成功1次，可获得红包奖励 <span class="orange">{{vm.rule.share_apply_reward||'--'}}</span>
                    元。（每微信号每月可获红包上限数：<span class="orange">{{vm.rule.share_apply_limit||'--'}}</span> 个）</p>

                <p>员工进行内推，候选人进入面试、入职、通过试用期阶段后，推荐人也将获得相应红包奖励，由于每个职位的红包金额不同，详见具体职位信息。</p>
                <p>注：如果发现存在恶意操作，则取消所有红包奖励。</p>
                <textarea class="form-control mb10 mt10" rows="3" ng-model="vm.rule.tail"></textarea>
            </div>

        </div>
        <div class="sbm">
            <button class="btn btn-primary">保存</button>
        </div>
    </form>
</div>


