<div class="pos-detail">

    <div class="com-panel pos-info">
        <div class="hd ">
            <div class="con  no-bd ">
                <span class="position-tit">{{vm.position.name}}<span ng-if="vm.position.status=='CLOSED'" class="red">（已关闭）</span></span>
                <span class="pos-tags"><span ng-repeat="tag in vm.position.tag" class=" pos-label"
                                             ng-class="{'hot':'label-hot','urgent':'label-urgent'}[tag]">{{tag|posTag}}</span></span>
            </div>
        </div>
        <div class="mn">
            <div class="con">
                <!--update-->
                <div class="btn-group group2 pull-right btn-group-sm">
                    <a class="btn btn-default" ng-if="vm.position.status=='OPEN'" ng-click="vm.setStatus('CLOSED')">
                        关闭职位</a>
                 <!--   <a class="btn btn-default" ng-if="vm.position.status=='CLOSED'" ng-click="vm.setStatus('OPEN')">
                        开启职位</a>-->

                    <a class="btn btn-default" ng-href="#/position/edit/{{vm.position_id}}"> 编辑职位</a>

                    <a class="btn btn-default" ng-click="vm.addTag('urgent')"
                       ng-if="vm.position.tag.indexOf('urgent') ==-1"> 设为加急职位</a>
                    <a class="btn btn-default" ng-click="vm.deleteTag('urgent')"
                       ng-if="vm.position.tag.indexOf('urgent') >-1"> 取消加急状态</a>

                    <a class="btn btn-default" ng-click="vm.addTag('hot')" ng-if="vm.position.tag.indexOf('hot') ==-1">
                        设为热招职位</a>
                    <a class="btn btn-default" ng-click="vm.deleteTag('hot')"
                       ng-if="vm.position.tag.indexOf('hot') >-1"> 取消热招职位</a>
                </div>

                <div class="row">
                    <div class="col-sm-2 hd">发布日期</div>
                    <div class="col-sm-2">{{vm.position.created_at*1000|date:"yyyy-MM-dd"}}</div>
                    <div class="col-sm-2 hd">职位类别</div>
                    <div class="col-sm-2"> {{vm.position.category.name}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 hd">工作地点</div>
                    <div class="col-sm-2">
                        <span ng-repeat="lc in vm.position.city_list">
                            {{lc.label}}
                        </span>
                    </div>
                    <div class="col-sm-2 hd">职位薪资</div>
                    <div class="col-sm-2">
                        {{vm.position.salary_level|salary}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 hd">工作性质</div>
                    <div class="col-sm-2">{{vm.position.property|posProp}}</div>
                    <div class="col-sm-2 hd">所属部门</div>
                    <div class="col-sm-2">{{vm.position.department.name}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 hd">工作经验</div>
                    <div class="col-sm-2">{{vm.position.exp_level|exp}}</div>
                    <div class="col-sm-2 hd">最低学历</div>
                    <div class="col-sm-2">{{vm.position.edu_level|edu}}</div>
                </div>
                <div class="row">

                    <div class="col-sm-2 hd">职位状态</div>
                    <div class="col-sm-2"
                         ng-class="{'darkred':vm.position.status == 'CLOSED','green':vm.position.status == 'OPEN'}">
                        {{vm.position.status|positionStatus}}
                    </div>
                    <div class="col-sm-2 hd">职位访问量</div>
                    <div class="col-sm-2">{{vm.position.view_count}}</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="list">
            <div ng-if="!vm.resumeList.length" class="empty">暂无投递职位</div>
            <div ng-if="vm.resumeList.length">
                <div class="op  mb5">
                    <span class="btn-group"> <a ng-href="{{vm.dlCheckedUrl}}" ng-disabled="!vm.dlCheckedUrl"
                                                class="btn btn-default">下载选中简历</a> <a
                            ng-href="{{vm.dlAllUrl}}" class="btn btn-default">下载所有简历</a></span>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><input type="checkbox" ng-click="vm.allCheck()" ng-model="vm.checkedAll"/></th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>推荐人</th>
                        <th>申请岗位</th>
                        <th>工作经验</th>
                        <th>学历</th>
                        <th>毕业院校</th>
                        <th>现任职位</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vm.resumeList">
                        <td><input type="checkbox" ng-click="vm.itemCheck(item)" ng-model="item.checked"/></td>
                        <td><a ng-href="#/resume/{{item.id}}"> {{item.name}} </a></td>
                        <td>{{item.gender|sex}}</td>
                        <td>{{item.ref}}</td>
                        <td>{{item.position_name}}</td>
                        <td>{{item.work_exp}}年</td>
                        <td>{{item.degree}}</td>
                        <td>{{item.edu[0].school}}</td>
                        <td>{{item.exp[0].position}}</td>

                    </tbody>

                </table>
            </div>

            <div class="ft">
                <div class="pull-right mt10">
                    <pagination ng-if="vm.totalItems>20" items-per-page="20" max-size="5" boundary-links="true"
                                total-items="vm.totalItems"
                                ng-change="vm.pageChanged()" ng-model="vm.currentPage"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                last-text="&raquo;"></pagination>
                </div>
            </div>
        </div>
    </div>

</div>