<div class="pos-new container">
    <h2 class="page-tit"> {{vm.pageTit}} <span ng-if="vm.typeEdit"> - {{vm.pos.name}}</span></h2>

    <form class="form form-horizontal" novalidate name="formPos" ng-submit="vm.submit();">
        <div class="form-group">
            <label class="control-label col-sm-2"><span class="red">* </span>职位性质：</label>

            <div class="col-sm-4 form-inline">
                <span class="radio mr10" ng-repeat="property in vm.options.position_properties"><label>
                    <input type="radio" ng-model="vm.pos.property" value="{{property.name}}" name="posType"
                           class="ng-pristine ng-untouched ng-valid"> {{property.display_name}}</label>
                </span><!--
                <span class="radio mr10"><label>
                    <input type="radio" ng-model="vm.pos.property" value="SOCIAL" name="posType"
                           class="ng-pristine ng-untouched ng-valid"> 社会招聘</label>
                </span>
                <span class="radio mr10"><label>
                    <input type="radio" ng-model="vm.pos.property" value="CAMPUS" name="posType"
                           class="ng-pristine ng-untouched ng-valid"> 校园招聘</label>
                </span>-->
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2"><span class="red">* </span>职位名称：</label>
            <div class="col-sm-4">
                <input type="text" ng-model="vm.pos.name" name="posName" placeholder="请填写职位名称"
                       required="" class="form-control"/>
            </div>
            <div class="col-sm-4">
                <div class="error" ng-if="vm.submitted&& formPos.posName.$invalid">
                    <small class="item" ng-show="formPos.posName.$error.required">请填写职位名称</small>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2"><span class="red">* </span>所属部门：</label>

            <div class="col-sm-6">
                <!--  <input type="text" ng-model="vm.pos.department.name" name="department" required placeholder="如：技术部"
                         class="form-control"/>-->
                <department select-dpt="vm.pos.department" active="vm.pos.department_id"></department>
            </div>
            <div class="col-sm-2">
                <div class="error" ng-if="vm.submitted&& !vm.pos.department">
                    <small class="item">请选择所属部门</small>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2"><span class="red">* </span>职位类别：</label>

            <div class="col-sm-6">
                <!-- <input type="text" class="form-control" name="category" required ng-model="vm.pos.category.name"
                        placeholder="如：游戏开发"/>-->
                <category select-ctgy="vm.pos.category" active="vm.pos.category_id"></category>
            </div>
            <div class="col-sm-2">
                <div class="error" ng-if="vm.submitted&& !vm.pos.category">
                    <small class="item " style="">请选择职位类别</small>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-2">招聘人数：</label>

            <div class="col-sm-5 form-inline ">
                <input type="number" class="form-control" placeholder="招聘人数" ng-model="vm.pos.hiring_count"
                       name="hire_count" required
                       style="width: 100px;"/> 人

                <span class="error ml10"
                      ng-if="vm.submitted&&(formPos.hire_count.$invalid||formPos.required_education.$invalid)">
                    <small class="item" ng-show="formPos.hire_count.$error.required">请填写职位招聘人数</small>
                    <small class="item" ng-show="formPos.required_education.$error.required">请选择学历</small>

                </span>
            </div>


        </div>
        <div class="form-group">
            <label class="control-label col-sm-2"><span class="red">* </span>发布城市：</label>

            <div class="col-sm-9  ">

                <a class="btn btn-default btn-sm mt5 pull-left"
                   ng-click="vm.showLoc()">选择城市</a>


                <region style="position: absolute;" is-show="vm.locShow" result="vm.city_list"></region>

                <div class=" cat-select " style="margin:0 0 0  90px;">
                    <div class="gray placeholder small"
                         ng-if="!vm.city_list.length&&!(vm.submitted&&vm.errors.location)">最多选择5个城市
                    </div>
                    <div class="error error-inline" ng-if="vm.submitted&&vm.errors.location">
                        <small class="item">请选择1到5个城市</small>
                    </div>
                    <span class="lable-selcected" ng-repeat="item in vm.city_list">{{item.label}}</span>
                </div>


            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">学历要求：</label>

            <div class="col-sm-8 form-inline">
                <ui-select ng-model="vm.pos.edu" theme="select2" name="edu" required
                           style="width: 200px;"
                           class="mr5"
                           search-enabled="false">
                    <ui-select-match placeholder="请选择学历">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="item in vm.view.edu | filter: $select.search ">
                        <div ng-bind-html="item.label|highlight: $select.search">
                        </div>
                    </ui-select-choices>
                </ui-select>
                含以上

                    <span class="error ml10"
                          ng-if="vm.submitted&&formPos.edu.$invalid">
                    <small class="item" ng-show="formPos.edu.$error.required">请选择学历</small>


                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">工作经验：</label>

            <div class="col-sm-4 ">
                <ui-select ng-model="vm.pos.exp" theme="select2" name="exp" required

                           search-enabled="false">
                    <ui-select-match placeholder="工作经验">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="item in vm.view.exp | filter: $select.search ">
                        <div ng-bind-html="item.label|highlight: $select.search">
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-sm-4 ">
                <div class="error" ng-if="vm.submitted &&formPos.exp.$invalid">
                    <span class="item">
                         <small class="item" ng-show="formPos.exp.$error.required">请选择工作经验</small>
                    </span>
                </div>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">职位月薪：</label>

            <div class="col-sm-4">
                <ui-select ng-model="vm.pos.salary" theme="select2" name="salary" required search-enabled="false">
                    <ui-select-match placeholder="请选择薪资范围">{{$select.selected.label}}</ui-select-match>
                    <ui-select-choices repeat="item in vm.view.salary | filter: $select.search ">
                        <div ng-bind-html="item.label|highlight: $select.search">
                        </div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-sm-4">
                <div class="error" ng-if="vm.submitted &&formPos.salary.$invalid">
                    <small class="item" ng-show="formPos.salary.$error.required">请选择薪资范围</small>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">截止日期：</label>

            <div class="col-sm-9 form-inline  ">
                <span class="input-group has-datepicker">
                    <input type="text" class="form-control" ng-click="vm.openCalendar($event)"
                           ng-model="vm.pos.deadline"
                           is-open="vm.calendarOpened " show-weeks="false" show-button-bar="false"
                           custom-class="datepicker" datepicker-popup/>
                     <span class="input-group-addon" ng-click="vm.openCalendar($event)"><span><span
                             class="glyphicon glyphicon-calendar"></span></span></span>
                    </span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2"><span class="red">* </span>职位描述：</label>

            <div class="col-sm-10 " ng-class="{'has-error':formPos.description.$invalid&&vm.submitted}">
                <div id="myEditor" um on-ready='vm.umReady(um)' um-obj="vm.um" style="height:200px;"></div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-2"><span class="red">* </span>投递邮箱：</label>

            <div class="col-sm-6 ">
                <input type="email" ng-model="vm.pos.hr_email" required name="hr_email" class="form-control"/>

            </div>
            <div class="col-sm-4">
                <div class="gray small" style="line-height: 34px" ng-if="!vm.submitted||formPos.hr_email.$valid">
                    此邮箱仅用于接收简历，不会对外公开
                </div>
                <div class="error" ng-if="vm.submitted &&formPos.hr_email.$invalid">
                    <small class="item" ng-show="formPos.hr_email.$error.email">请输入正确的邮件格式</small>
                    <small class="item" ng-show="formPos.hr_email.$error.required">请填写邮箱</small>
                </div>
            </div>
        </div>

        <div class="form-group" ng-if="company.custom.redpack.enable&&company.custom.redpack.ref">
            <label class="control-label col-sm-2"></span>内推奖励：</label>
            <div class="col-sm-10 ">
                <div class="row mt10 mb10">
                    <div class="col-sm-2">Interviewed</div>
                    <div class="col-sm-4"><input type="number" class="form-control" name="interviewed" min="0"
                                                 ng-model="vm.pos.interviewed_reward"  placeholder="请输入奖励金额">
                    </div>
                    <div class="col-sm-4">
                        <div class="error" ng-if="vm.submitted &&formPos.interviewed.$invalid">

                            <small class="item" ng-show="formPos.interviewed.$error.min">奖励金额不能为负数
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row mt10 mb10">
                    <div class="col-sm-2">On-Boarding</div>
                    <div class="col-sm-4"><input type="number" class="form-control"  name="onBoarding"  min="0"
                                                 ng-model="vm.pos.onboarding_reward" placeholder="请输入奖励金额"></div>
                    <div class="col-sm-4">
                        <div class="error" ng-if="vm.submitted &&formPos.onBoarding.$invalid">

                            <small class="item" ng-show="formPos.onBoarding.$error.min">奖励金额不能为负数
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row mt10 mb10">
                    <div class="col-sm-2">Pass Probation</div>
                    <div class="col-sm-4"><input type="number" class="form-control"  name="passProbation"  min="0"
                                                 ng-model="vm.pos.pass_probation_reward" placeholder="请输入奖励金额"></div>
                    <div class="col-sm-4">
                        <div class="error" ng-if="vm.submitted &&formPos.passProbation.$invalid">

                            <small class="item" ng-show="formPos.passProbation.$error.min">奖励金额不能为负数
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mt10">
            <div class="col-sm-9 col-sm-offset-2">
                <button ng-if="vm.typeEdit" class="btn btn-primary">确认修改</button>
                <button ng-if="vm.typeNew" class="btn btn-primary">确认发布</button>
            </div>
        </div>
    </form>
</div>

<script type="text/ng-template" id="projectNew.html">
    <div class="dialog-alert dialog">
        <div class="modal-header" ng-if="title">
            <a class="close" data-dismiss="modal" ng-click="close()"><span aria-hidden="true">&times;</span></a>
            <h5 class="modal-title">{{title}}</h5>
        </div>
        <div class="modal-body">
            <ng-include src="'views/com/project-new.html'"></ng-include>
        </div>
    </div>
</script>
