

<div class="pos-new container">
    <h2 class="page-tit"> {{vm.pageTit}}</h2>

    <form class="form form-horizontal" novalidate name="formPos" ng-submit="vm.submit();">
        <div class="form-group">
            <label class="control-label col-sm-2"><span style="color: red">*</span>名称：</label>

            <div class="col-sm-4">
                <input type="text" ng-model="vm.data.name" name="companyName" maxlength="20"
                       required="required" class="form-control"/>
            </div>
            <div class="col-sm-4">
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">公司全称：</label>

            <div class="col-sm-4">
                <input type="text" ng-model="vm.data.full_name" name="fullName" maxlength="50"
                       required="" class="form-control"/>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">英文名：</label>

            <div class="col-sm-4">
                <input type="text" ng-model="vm.data.en" name="enName" maxlength="200"
                       required="" class="form-control"/>
            </div>
            <div class="col-sm-4">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2"><span style="color: red">*</span>英文缩写：</label>

            <div class="col-sm-4">
                <input type="text" ng-model="vm.data.url_name" name="urlName" placeholder="请填写公司名称,最多20个字符" maxlength="20"
                       required="" class="form-control"/>
            </div>
            <div class="col-sm-4">
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-2"><span style="color: red">*</span>联系人：</label>

            <div class="col-sm-4">
                <input type="text" ng-model="vm.data.contact" name="contact"  maxlength="20"
                       required="" class="form-control"/>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2"><span style="color: red">*</span>联系电话：</label>

            <div class="col-sm-4">
                <input type="text" ng-model="vm.data.mobile" name="mobile" maxlength="20"
                       required="" class="form-control"/>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2"><span style="color: red">*</span>邮箱：</label>

            <div class="col-sm-4">
                <input type="email" ng-model="vm.data.mail" name="mail" maxlength="20"
                       required="" class="form-control"/>
            </div>
            <div class="col-sm-4">
            </div>
        </div>

        <div class="form-group mt10">
            <div class="col-sm-9 col-sm-offset-2">
                <button class="btn btn-primary">提交</button>
                <a class="btn" ng-href="#/company/list">返回</a>
            </div>
        </div>
    </form>
</div>
