/* Empty. Add your own CSS if you like */
.font-song {
  font-family: tahoma, arial, sans-serif;
}
.font-yahei {
  font-family: "microsoft yahei", arial, Helvetica, sans-serif;
}
.blue {
  color: #1562a9;
}
.blue2 {
  color: #56a0d8;
}
.blue3 {
  color: #2395ff;
}
.gray {
  color: #a5a5a5;
}
.white {
  color: #fff;
}
.black {
  color: #000;
}
.orange {
  color: #ff7e00;
}
.yellow {
  color: yellow;
}
.red {
  color: red;
}
.darkred {
  color: darkred;
}
.brick-red {
  color: #d9524e;
}
.color-txt {
  color: #3d5361;
}
.blue2 {
  color: #56a0d8;
}
.green {
  color: green;
}
.green2 {
  color: #77bf6e;
}
.aqua {
  color: #45d6bc;
}
body {
  background: #efeff4;
}
li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
:focus {
  outline: none !important;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background: #f2f2f2;
  color: #333;
  overflow: auto;
  font: 14px/1.6 tahoma, arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "microsoft yahei", arial, Helvetica, sans-serif;
}
.btn {
  border-radius: 3px;
}
body > .wrap {
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
}
.bold {
  font-weight: bold!important;
}
img {
  vertical-align: middle;
  border: none;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: none;
  color: #1562a9;
}
a:focus {
  outline: none;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}
.h100pct {
  height: 100%;
}
.pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}
.v-middle {
  vertical-align: middle !important;
}
.small {
  font-size: .8em !important;
}
.big {
  font-size: 1.2em !important;
}
.bigger {
  font-size: 1.5em !important;
}
.line {
  border-bottom: 1px solid #ddd;
  height: 1px;
  overflow: hidden;
}
.no-margin {
  margin: 0 !important;
}
.btn-blue {
  background: #7aa6d4;
  border-color: #aaa;
  color: #fff;
}
.no-bd {
  border: none !important;
}
h2.title {
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  padding: 10px 0;
  margin: 0 0 20px 0;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.no-border-td tbody tr td {
  border: none;
}
.relative {
  position: relative !important;
}
@font-face {
  font-family: "iconfont";
  src: url('font/iconfont.eot');
  /* IE9*/
  src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('font/iconfont.woff') format('woff'), /* chrome、firefox */ url('font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-signalno:before {
  content: "\e6ea";
}
.icon-signal:before {
  content: "\e6eb";
}
.icon-qualitytestno:before {
  content: "\e6e8";
}
.icon-travel:before {
  content: "\e6e5";
}
.icon-projectmanager:before {
  content: "\e6e7";
}
.icon-qualitytest:before {
  content: "\e6e9";
}
.icon-projectmanagerno:before {
  content: "\e6e6";
}
.icon-sportno:before {
  content: "\e6e3";
}
.icon-travelno:before {
  content: "\e6e4";
}
.icon-sport:before {
  content: "\e6e2";
}
.icon-ittechnology:before {
  content: "\e6e0";
}
.icon-ittechnologyno:before {
  content: "\e6e1";
}
.icon-itdevelopmentno:before {
  content: "\e6de";
}
.icon-itdevelopment:before {
  content: "\e6df";
}
.icon-insurancenono:before {
  content: "\e6dc";
}
.icon-insuranceno:before {
  content: "\e6dd";
}
.icon-postno:before {
  content: "\e6da";
}
.icon-post:before {
  content: "\e6db";
}
.icon-iconprno:before {
  content: "\e6d2";
}
.icon-iconprmanu:before {
  content: "\e6d1";
}
.icon-iconpr:before {
  content: "\e6d3";
}
.icon-iconteccheno:before {
  content: "\e6d4";
}
.icon-icontecche:before {
  content: "\e6d5";
}
.icon-machienmedicne:before {
  content: "\e6d6";
}
.icon-machineengineerno:before {
  content: "\e6d8";
}
.icon-machienmedicneno:before {
  content: "\e6d7";
}
.icon-machineengineer:before {
  content: "\e6d9";
}
.icon-iconprmanuno:before {
  content: "\e6d0";
}
.icon-iconprcreation:before {
  content: "\e6cf";
}
.icon-iconprcreationno:before {
  content: "\e6ce";
}
.icon-instrumentno:before {
  content: "\e6cc";
}
.icon-instrument:before {
  content: "\e6cd";
}
.icon-iconuxinvestigationno:before {
  content: "\e6ca";
}
.icon-iconuxinvestigation:before {
  content: "\e6cb";
}
.icon-iconuxinteractionno:before {
  content: "\e6c8";
}
.icon-iconuxinteraction:before {
  content: "\e6c9";
}
.icon-iconcsno:before {
  content: "\e6bf";
}
.icon-iconmanageeventno:before {
  content: "\e6c0";
}
.icon-icontecitno:before {
  content: "\e6c4";
}
.icon-iconteceng:before {
  content: "\e6c3";
}
.icon-icontecit:before {
  content: "\e6c5";
}
.icon-icontecengno:before {
  content: "\e6c2";
}
.icon-iconmanageevent:before {
  content: "\e6c1";
}
.icon-iconcsvalueaddedservice:before {
  content: "\e6bd";
}
.icon-iconcsno1:before {
  content: "\e6be";
}
.icon-iconcsvalueaddedserviceno:before {
  content: "\e6bc";
}
.icon-iconcstraining:before {
  content: "\e6bb";
}
.icon-iconmarket:before {
  content: "\e6b9";
}
.icon-iconmarketpromotion:before {
  content: "\e6b7";
}
.icon-cpudevelopment:before {
  content: "\e6ad";
}
.icon-design:before {
  content: "\e6af";
}
.icon-iconmanagesystem:before {
  content: "\e6b1";
}
.icon-iconmanagerno:before {
  content: "\e6b2";
}
.icon-iconmarketfinanceno:before {
  content: "\e6b4";
}
.icon-iconmanager:before {
  content: "\e6b3";
}
.icon-buget:before {
  content: "\e6ab";
}
.icon-bugetno:before {
  content: "\e6aa";
}
.icon-bluecerve:before {
  content: "\e6a9";
}
.icon-addedvalue:before {
  content: "\e6a7";
}
.icon-harddevicedevelopmentno:before {
  content: "\e6a2";
}
.icon-energy:before {
  content: "\e69d";
}
.icon-energyno:before {
  content: "\e69c";
}
.icon-foodserviceno:before {
  content: "\e6a0";
}
.icon-finance:before {
  content: "\e69f";
}
.icon-foodservice:before {
  content: "\e6a1";
}
.icon-harddevicedevelopment:before {
  content: "\e6a3";
}
.icon-financeno:before {
  content: "\e69e";
}
.icon-hrno:before {
  content: "\e6a4";
}
.icon-cpudevelopmentno:before {
  content: "\e6ac";
}
.icon-bluecerveno:before {
  content: "\e6a8";
}
.icon-addedvalueno:before {
  content: "\e6a6";
}
.icon-hr:before {
  content: "\e6a5";
}
.icon-designno:before {
  content: "\e6ae";
}
.icon-iconmanagesystemno:before {
  content: "\e6b0";
}
.icon-iconcstrainingno:before {
  content: "\e6ba";
}
.icon-iconmarketno:before {
  content: "\e6b8";
}
.icon-iconmarketpromotionno:before {
  content: "\e6b6";
}
.icon-iconmarketfinance:before {
  content: "\e6b5";
}
.icon-iconuxdesign:before {
  content: "\e6c6";
}
.icon-iconuxdesignno:before {
  content: "\e6c7";
}
.icon-allclassifications:before {
  content: "\e6ec";
}
.icon-newclassification:before {
  content: "\e6ee";
}
.icon-alldepartments:before {
  content: "\e6ed";
}
.icon-newdepartment:before {
  content: "\e6ef";
}
ion-side-menu {
  color: #fff;
}
.menu {
  background: #333;
  /*
    @media all and (max-height: 479px) {
      .qrcode {
        display: none;
      }
    }

    @media all and (min-height: 480px)and(max-height: 568px) {
      .qrcode {
        bottom: 3%;
      }

      .logo img {
        max-height: 80px;
      }
    }*/
}
.menu sup {
  display: inline-block;
  height: 8px;
  width: 8px;
  background: #ff3c3c;
  border-radius: 100%;
}
.menu .logo {
  text-align: center;
  padding: 20px 16px;
}
.menu .logo img {
  max-width: 80%;
  max-height: 120px;
}
.menu .icon {
  display: inline-block;
  width: 20px;
  text-align: center;
  position: relative;
  top: 1px;
}
.menu .item {
  background: #333;
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid #222;
  border-bottom: 1px solid #444;
}
.menu .item a.activated {
  background: #444;
}
.menu .item a {
  background: #333;
  color: #fff;
  position: relative;
  padding-left: 40px;
}
.menu .item:first-child {
  border-top: none;
}
.menu .item:last-child {
  border-bottom: none;
}
.menu .qrcode {
  margin: 30px auto 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
  left: 0;
}
.menu .qrcode img {
  width: 110px;
}
.menu .qrcode .ins {
  font-size: .8em;
  color: #f2f2f2;
  width: 110px;
  margin: 8px auto;
  text-align: center;
}
.menu .menu-icon .icon {
  top: -2px;
}
.style-bright .menu {
  background: #f3f3f3;
  color: #000;
}
.style-bright .menu .item {
  background: #fff;
  border-top: none;
  border-bottom: 1px solid #d1d1d1;
}
.style-bright .menu .item a {
  color: #000;
  background: #fff;
}
.style-bright .menu .item a.activated {
  background: #f0f0f0;
}
.style-bright .menu .qrcode img {
  border: 1px solid #ddd;
}
.style-bright .menu .qrcode .ins {
  color: #000;
}
.style-bright .menu-content {
  outline: 1px solid #dadada;
}
.empty {
  text-align: center;
  padding: 50px 0;
  color: #808080;
}
[contenteditable]:empty:before {
  content: attr(placeholder);
  color: #cccccc;
}
.row {
  margin: 0;
}
.modal-backdrop {
  background: none;
}
.pane,
.view {
  background: #f7f7fc;
}
.item.activated {
  background: #f7f7fc;
}
.view-pos-list .search-con {
  background: #f0f0f0;
  margin: 0;
  padding: 10px;
  position: relative;
  z-index: 20;
}
.view-pos-list .search-con input {
  height: 34px;
  padding-bottom: 6px;
  padding-top: 8px;
  line-height: 20px;
}
.view-pos-list .search-con .item {
  padding-top: 2px;
  padding-bottom: 3px;
}
.view-pos-list .filter {
  display: -webkit-flex;
  display: flex;
  background: #fff;
  color: #fff;
  padding: 0 5px;
}
.view-pos-list .filter .btn-select {
  text-align: center;
  position: relative;
  -webkit-flex: 1;
  flex: 1;
  padding: 10px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.view-pos-list .filter .btn-select .icon {
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.4) !important;
}
.view-pos-list .filter .btn-select:after {
  content: '';
  height: 60%;
  position: absolute;
  top: 20%;
  width: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
  right: 1px;
  /*   background: rgba(0, 0, 0, .2);*/
}
.view-pos-list .filter .btn-select:last-child:after {
  display: none;
}
.view-pos-list .filter .btn-select:last-child {
  border-right: none;
}
.view-pos-list .pos-list.has-filter {
  top: 43px;
}
.view-pos-list .pos-list .banner {
  width: 100%;
  overflow: hidden;
}
.view-pos-list .pos-list .banner img {
  width: 100%;
}
.view-pos-list .pos-list .job-list .no-icon {
  padding-left: 18px !important;
}
.view-pos-list .pos-list .job-list .item {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
}
.view-pos-list .pos-list .job-list .item .iconfont {
  position: absolute;
  left: 15px;
  top: 4px;
}
.view-pos-list .pos-list .job-list .item .iconfont:before {
  font-size: 38px;
}
.view-pos-list .pos-list .job-list .item .info {
  font-size: 14px;
}
.view-pos-list .pos-list .job-list .item .info .city {
  margin-right: 5px;
}
.view-pos-list .pos-list .job-list .item .info .city span {
  margin-right: 5px;
}
.view-pos-list .pos-list .job-list .item .info .city span:last-child {
  margin: 0;
}
.view-pos-list .pos-list .job-list .item .arrow {
  font-size: 22px;
  font-weight: normal;
  right: 8px;
}
.view-pos-detail .pos-detail {
  bottom: 60px;
}
.view-pos-detail .pos-detail h2 {
  font-size: 18px;
  padding: 16px 10px;
  margin: 0;
  line-height: 1.5;
  font-weight: bold;
}
.view-pos-detail .pos-detail .info {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 10px 0;
}
.view-pos-detail .pos-detail .jd {
  padding: 10px;
  margin: 10px 0;
  /*  color: #333 !important;*/
  /*  white-space: normal !important;
        word-break: break-all !important;*/
}
.view-pos-detail .pos-detail .jd * {
  /*  color: #333 !important;*/
  white-space: normal !important;
  /*   word-break: break-all !important;*/
}
.view-pos-detail .pos-detail .reward > div:not(:first-child) .icon {
  display: none;
}
.view-pos-detail .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.pos-tags {
  margin-left: 10px;
}
.pos-tags .pos-label {
  font-weight: normal;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  text-align: center;
  line-height: 14px;
  padding: 3px 0 3px;
  color: #fff;
  font-size: 12px;
  font-family: tahoma, arial, sans-serif;
  margin: 0;
  border-radius: 3px;
}
.pos-tags .label-danger {
  background-color: #e6993f;
}
.pos-tags .label-warning {
  background-color: #f4d580;
}
.list {
  margin-bottom: 10px;
}
.resume-index .bigger {
  line-height: 1.2;
}
.resume-index .resume-pos-tit {
  border: none;
  font-size: 16px;
  color: #fff;
  background: #333;
  font-weight: bold;
}
.resume-index .resume-pos-tit a {
  color: #fff;
}
.resume-index .resume-list .item .item-content {
  padding-top: 10px;
  padding-bottom: 10px;
}
.resume-index .resume-list .btn .icon {
  font-size: 15px;
}
.list .item.error {
  background: #FFF4F4;
  color: #c00;
}
.list .item.error .input-label {
  color: #c00;
}
.show {
  display: block !important;
}
.alert-wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}
.alert-wrap .alert {
  padding: 8px 20px;
  border-radius: 0;
  background: rgba(51, 255, 10, 0.9);
  border-left: none;
  border-right: none;
  border-top: none;
  opacity: .85;
  margin: 0;
  color: #fff;
  /* width: 1000px;
     margin: 0 auto;*/
}
.alert-wrap .alert .sigh {
  margin-right: 5px;
  font-size: 18px;
}
.alert-wrap .alert.danger {
  background: rgba(187, 0, 5, 0.9);
}
.debug {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  border: 1px solid #c2ccc1;
  background: #f5fff4;
  font-size: 12px;
  font-family: arial, Helvetica, sans-serif;
  z-index: 9999;
  max-height: 200px;
  overflow: auto;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-icon {
  position: absolute;
  left: 15px;
  bottom: 60px;
  height: 80px;
  width: 80px;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  border-radius: 100%;
  border: 1px solid #ccc;
  font-size: 60px;
  line-height: 80px;
  min-height: 0;
  min-width: 0;
  text-align: center;
  font-weight: bold;
  z-index: 9999;
  padding: 0;
  box-shadow: 0 0 0 4px #fff inset;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (min-device-pixel-ratio: 1) {
  .menu-icon {
    -webkit-transform: scale3d(0.75, 0.75, 1);
    transform: scale3d(0.75, 0.75, 1);
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .menu-icon {
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .menu-icon {
    -webkit-transform: scale3d(0.45, 0.45, 1);
    transform: scale3d(0.45, 0.45, 1);
  }
}
.menu-icon .icon {
  color: #FFFFFF;
  vertical-align: 0;
  line-height: 1;
  position: relative;
  top: -3px;
}
.menu-icon:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}
.item-options.show-options {
  visibility: visible;
  z-index: 2;
}
.modal .bar-header .my-close i:before {
  font-size: 22px !important;
  color: rgba(0, 0, 0, 0.8) !important;
}
[nav-view-transition="ios"][nav-view-direction="forward"],
[nav-view-transition="ios"][nav-view-direction="back"] {
  background: #f0f0f0;
}
.pull-right {
  float: right;
}
.btn {
  display: inline-block;
  padding: 4px 10px;
  vertical-align: middle;
}
.btn-block {
  display: block;
}
.btn-primary {
  background: #387bcc;
}
.btn-default {
  background: #f0f0f0;
  color: #333;
}
.btn-upload {
  position: relative;
  background: #fcfcfc;
  border: 1px solid #ddd;
  text-align: center;
  color: #333;
  font-size: 13px;
  width: 100px;
  overflow: hidden;
}
.btn-upload input[type=file] {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  opacity: 0;
}
.item-select select {
  direction: ltr;
  padding-left: 7px;
}
.app-tip-wrap {
  z-index: 9999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  text-align: center;
}
.app-tip-wrap .app-tip {
  margin-top: 40%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 20px;
  font-size: 14px;
  color: #fff;
}
.word-no-warp {
  white-space: normal !important;
}
.import img {
  height: 30px;
  margin: 0 10px 0 0;
}
.button-default {
  border-color: #ddd;
}
.resume-edit .normal {
  font-weight: normal !important;
}
.resume-edit .icon {
  color: #999999;
  margin-top: -5px;
  position: relative;
  top: 2px;
}
.resume-edit .error {
  color: #c00;
  font-weight: normal !important;
}
.resume-edit .resume-tt {
  border-top: none;
}
.resume-edit .resume-tt dt {
  font-size: 16px;
  color: #fff;
  /*  background: #666;
     ;*/
}
.resume-edit .resume-tt .pro-warp {
  display: inline-block;
  height: 8px;
  width: 50%;
  background: #ddd;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin-left: 10px;
}
.resume-edit .resume-tt .pro-warp .progress {
  position: absolute;
  left: 0;
  height: 100%;
  width: 0;
  top: 0;
}
.resume-edit dl {
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  background: #fff;
}
.resume-edit dl dd {
  margin: 0 3px 0 10px;
  padding: 10px;
  border-top: 1px dotted #ddd;
  line-height: 1.4;
}
.resume-edit dl dd.dd-progress {
  padding-left: 5px;
}
.resume-edit dl dd.info .row {
  padding: 0;
}
.resume-edit dl dd.info .col {
  padding: 3px 0;
}
.resume-edit dl dd:first-of-type {
  border-top: none;
}
.resume-edit dl dt {
  position: relative;
  padding: 12px 12px 12px 15px;
}
.resume-edit dl dt:not(.bar-theme):after {
  content: '';
  height: 0;
  border-top: 1px solid #ddd;
  position: absolute;
  display: block;
  right: 10px;
  left: 9px;
  bottom: 0;
}
.resume-edit dl dt .button {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0;
  margin: -10px 0 0;
  min-height: 0;
  min-width: 0;
}
.resume-edit dl dt .button .icon {
  color: #aaa;
  margin: 0;
}
.resume-edit dl dt .icon {
  color: #999999;
  position: relative;
  top: 1px;
}
.resume-edit dl .info-item {
  white-space: nowrap;
  margin: 0 15px 0 0;
}
.resume-edit dl .dd-list {
  display: inline-block;
  width: 99%;
}
.resume-edit dl .dd-list .list-con {
  padding: 0 0 0 20px;
  position: relative;
  margin: 10px 0;
}
.resume-edit dl .dd-list .list-con .border {
  width: 1px;
  background: #ccc;
  position: absolute;
  left: -1px;
  top: 3px;
  bottom: 3px;
}
.resume-edit dl .dd-list .list-con .dot {
  position: absolute;
  height: 11px;
  width: 11px;
  left: -6px;
  border: 1px solid;
  border-radius: 50%;
  z-index: 2;
}
.resume-edit dl .dd-list .list-con .dot.dot-top {
  top: 3px;
}
.resume-edit dl .dd-list .list-con .dot.dot-sub {
  bottom: 2px;
  color: #e0e0e0;
  background-color: #fff;
}
.resume-edit dl .dd-list:first-child .list-con {
  border-top: none;
}
.item-radio.checked .radio-icon {
  visibility: visible;
}
.item-radio.checked .item-content {
  background: #f7f7f7;
}
.item-textarea {
  padding: 6px 16px 15px 16px;
}
.item-textarea textarea {
  border: 1px solid #ddd;
  display: block;
  width: 100%;
  overflow-y: auto;
  padding: 5px;
}
input[readonly] {
  background: #fff !important;
}
.selected_date_full {
  display: none !important;
}
.platform-android .action-sheet-title {
  border-bottom: 1px solid #ddd !important;
}
.platform-android .action-sheet-destructive {
  padding: 0 0 0 10px !important;
}
.platform-android .action-sheet-cancel {
  display: block;
}
.platform-android .action-sheet-cancel button {
  padding: 0 0 0 10px !important;
}
.sticky-box {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999;
}
.file-list {
  margin-bottom: 10px;
}
.file-list li {
  border-top: 1px dotted #ddd;
  padding: 10px 0;
  font-size: 14px;
}
.file-list li:first-child {
  border: none;
}
.theme-body .button-theme {
  color: #fff;
}
.theme-body .bar-theme h1 {
  color: #fff;
}
.item-input-shadow {
  display: flex;
  -webkit-box-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 6px 0 5px 16px;
}
.item-border {
  border-color: #e0e0e0;
}
.detIcon-position {
  position: relative;
  top: 2px;
}
.view-pos-list .pos-list .job-list .item:first-child {
  border: none;
}
.menu-icon {
  text-align: center;
}
.menu-icon .icon {
  top: 0;
}
.menu-icon img {
  width: 50px;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -25px;
  position: absolute;
}
.gray-reset {
  color: #999;
}
.nav-theme {
  border-bottom: 1px solid #14b0c4;
}
.font {
  font-family: Microsoft JhengHei, Helvetica, sans-serif;
}
.btn-center {
  line-height: 48px;
}
.but-center {
  line-height: 46px;
}
/*.force{
  float:left;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
  width:68%;
}*/
.button-bordered {
  background: #ffc001;
  padding: 6px;
  border-radius: 8px;
  margin: 10px 0;
}
.button-bordered .button {
  background: #df4532;
  margin: 0;
  color: #ffea97;
  border-radius: 6px;
  border: none;
}
.view-share-detail {
  background: #f5f5f5;
}
.view-share-detail .detail-banner {
  overflow: hidden;
}
.view-share-detail .detail-banner img {
  width: 100%;
}
.view-share-detail .has-bottom-btn {
  bottom: 60px;
}
.view-share-detail .share-detail .list .item {
  font-weight: bold;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.view-share-detail .share-detail .list .item .item-note {
  color: #333;
  font-size: 16px;
}
.view-share-detail .share-detail .list .item .item-note img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.view-share-detail .share-detail .list .ins {
  font-weight: normal;
  padding: 10px 10px 15px 15px;
  font-size: 14px;
}
.view-share-detail .footer {
  padding: 30px 60px;
}
.scale-in {
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}
.scale-in.ng-enter,
.scale-in > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}
.scale-in.ng-enter-active,
.scale-in > .ng-enter-active {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.scale-in.ng-leave,
.scale-in > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}
.rd-modal-bg {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
}
.rd-modal {
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  overflow: hidden;
}
.rd-modal .my-close {
  z-index: 1001;
  position: absolute;
  right: 10px;
  top: 10px;
  height: 30px;
  width: 30px;
  background: url("../images/get-prize-modal-close.png") no-repeat;
  background-size: contain;
}
.rd-modal .content {
  text-align: center;
  margin-top: 10px;
  color: #ffea97;
  font-size: 16px;
}
.rd-modal .footer {
  padding: 0 60px;
}
.rd-modal .top {
  height: 400px;
  background: url('../images/get-prize-modal-bg.png') no-repeat center bottom;
  background-size: auto 100%;
  position: relative;
  text-align: center;
}
.rd-modal .top .text {
  padding-top: 200px;
  text-align: center;
  font-size: 20px;
}
.rd-modal .top .text .num {
  font-size: 36px;
}
.rd-modal .top .username {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.rule-modal-bg {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
}
.rule-modal {
  position: absolute;
  z-index: 999;
  left: 20px;
  top: 50px;
  right: 20px;
  bottom: 20px;
  border-radius: 5px;
  background: #f9c804;
  padding: 8px;
}
.rule-modal .con {
  height: 100%;
  background: #fff;
  border-radius: inherit;
  text-align: center;
  position: relative;
}
.rule-modal .con .wrap {
  top: 40px;
  right: 10px;
  bottom: 80px;
  left: 15px;
  position: absolute;
}
.rule-modal .con .content {
  text-align: left;
  font-size: 15px;
  height: 100%;
  padding-right: 5px;
}
.rule-modal .con .content dl {
  margin: 10px 0;
}
.rule-modal .con .content dl dt {
  font-weight: normal;
  margin-bottom: 3px;
}
.rule-modal .con .content dl dd {
  padding-left: 15px;
  position: relative;
}
.rule-modal .con .content dl dd i {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: #df4532;
  left: 1px;
  top: 5px;
  position: absolute;
}
.rule-modal .con .tit {
  width: 260px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
.rule-modal .footer {
  background: #fff;
  padding: 10px 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.rule-modal .footer .button-bordered {
  margin: 0;
}
.share-rule .bar-rule {
  background: #d65645;
  height: 44px;
  line-height: 44px;
  color: #fff;
  padding: 0 15px;
  font-weight: bold;
  font-size: 16px;
}
.share-rule .card {
  box-shadow: none;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
.share-rule .card dd {
  margin: 5px 0;
}
.share-rule .card.card-warning {
  background: #fcf8e3;
  border-color: #fbeed2;
  color: #876937;
}
.share-rule .card.card-danger {
  background: #f2dede;
  border-color: #ecd0d4;
  color: #a53c3a;
}
.about-company .img-company img {
  width: 100%;
  height: auto;
}
.about-company .hd {
  font-size: 16px;
}
.about-company .hd li {
  padding: 5px;
}
.about-company .content {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}
.notable {
  color: #d9524e;
}
dl.file-upload {
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  background: #fff;
}
dl.file-upload dd {
  margin: 0 3px 0 10px;
  padding: 10px;
  border-top: 1px dotted #ddd;
  line-height: 1.4;
}
dl.file-upload dd.dd-progress {
  padding-left: 5px;
}
dl.file-upload dd.info .row {
  padding: 0;
}
dl.file-upload dd.info .col {
  padding: 3px 0;
}
dl.file-upload dd:first-of-type {
  border-top: none;
}
dl.file-upload dt {
  position: relative;
  padding: 12px 12px 12px 15px;
}
dl.file-upload dt:not(.bar-theme):after {
  content: '';
  height: 0;
  border-top: 1px solid #ddd;
  position: absolute;
  display: block;
  right: 10px;
  left: 9px;
  bottom: 0;
}
dl.file-upload dt .button {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0;
  margin: -10px 0 0;
  min-height: 0;
  min-width: 0;
}
dl.file-upload dt .button .icon {
  color: #aaa;
  margin: 0;
}
dl.file-upload dt .icon {
  color: #999999;
  position: relative;
  top: 1px;
}
dl.file-upload .info-item {
  white-space: nowrap;
  margin: 0 15px 0 0;
}
dl.file-upload .dd-list {
  display: inline-block;
  width: 99%;
}
dl.file-upload .dd-list .list-con {
  padding: 0 0 0 20px;
  position: relative;
  margin: 10px 0;
}
dl.file-upload .dd-list .list-con .border {
  width: 1px;
  background: #ccc;
  position: absolute;
  left: -1px;
  top: 3px;
  bottom: 3px;
}
dl.file-upload .dd-list .list-con .dot {
  position: absolute;
  height: 11px;
  width: 11px;
  left: -6px;
  border: 1px solid;
  border-radius: 50%;
  z-index: 2;
}
dl.file-upload .dd-list .list-con .dot.dot-top {
  top: 3px;
}
dl.file-upload .dd-list .list-con .dot.dot-sub {
  bottom: 2px;
  color: #e0e0e0;
  background-color: #fff;
}
dl.file-upload .dd-list:first-child .list-con {
  border-top: none;
}
.view-verify .top {
  text-align: center;
  padding: 80px 0 ;
}
.view-verify .top.verified {
  padding: 50px 0;
}
.view-verify .top img {
  max-width: 80%;
  max-height: 100px;
}
.view-verify .alert-body .alert .message {
  display: block;
  text-align: center;
}
.view-verify .alert-body .alert .message .picture {
  width: 90px;
}
.view-verify .form-verify .padding {
  padding: 20px;
}
.view-verify .form-verify .item {
  margin: 12px 0;
  border-radius: 8px!important;
  border-color: #d9d9d9;
}
.view-verify .form-verify .button {
  margin-top: 40px;
  font-weight: bold;
  line-height: 45px;
}
