<ion-view class="end ">
    <ion-content overflow-scroll='{{isIOS?false:true}}'>
        <div class="filter-title">
            <div class="ey-hd"><span class="tit">非常感谢</span></div>
        </div>
        <div class="content text-center" style="padding:0 20px;">
            <br>
            <br>
            <p class="yellow-ey"> 感谢关注"2016安永暑期领导力训练营"。</p>

            <p> 目前网上申请阶段已经结束，<br>笔试通知已经陆续发出，<br>请大家查收邮件，<br>不要与安永君擦肩而过哦！</p>


            <p> 如有任何疑问请拨打 <br>
                安永人力资源服务中心热线：400 860 9960</p>

            <br>
            <br>
            <div class="footer">
                <a  ng-href="http://mp.weixin.qq.com/s?__biz=MzA3ODg0MzIxNQ==&mid=200660513&idx=1&sn=80851069e3bfbfe5274acfe1602cff54#rd " class="button button-block button-ey">了解更多</a>
            </div>


        </div>

    </ion-content>
</ion-view>

