<ion-view class="success ">
    <ion-content overflow-scroll='{{isIOS?false:true}}'>
        <div class="filter-title">
            <div class="ey-hd"><span class="tit">了解更多</span></div>
        </div>

        <div class="content text-center">
            <p class="yellow-ey">想对安永了解更多？</p>

            <p style="margin-bottom:40px;padding-left: 10px;padding-right: 10px;">来听听安永君的SLP校园宣讲会吧。</p>

            <p>魅力大咖，资深校友，</p>

            <p>讲述你最感兴趣的故事，</p>

            <p style="margin-bottom:40px;">带你体验合伙人模拟面试。</p>

            <p>快来一探究竟吧！</p>

        </div>
        <div class="footer">
            <a ng-href="http://mp.weixin.qq.com/s?__biz=MzA3ODg0MzIxNQ==&mid=200660513&idx=1&sn=80851069e3bfbfe5274acfe1602cff54#rd" class="button button-block button-ey">查看SLP校园宣讲会</a>
        </div>
    </ion-content>
</ion-view>

