<ion-view class="success ">
    <ion-content overflow-scroll='{{isIOS?false:true}}'>
        <div class="filter-title">
            <div class="ey-hd"><span class="tit">非常感谢</span></div>
        </div>
        <div class="content text-center">
            <p class="yellow-ey">恭喜你，已经成功完成申请啦！</p>

            <p>接下来我们将光速展开后续甄选流程，</p>

            <p>并尽快为符合条件的同学发出下一步邀请，</p>

            <p class="paragraph">敬请期待！</p>

            <p>如有任何疑问，</p>

            <p>请拨打安永人力资源</p>

            <p>服务中心热线：400 860 9960

            <p>

            <p>进行详细查询。</p>
        </div>
        <div class="footer">
            <!--<a ui-sref="more" class="button button-block button-ey">了解更多</a>-->
            <a ng-href="http://mp.weixin.qq.com/s?__biz=MzA3ODg0MzIxNQ==&mid=200660513&idx=1&sn=80851069e3bfbfe5274acfe1602cff54#rd" class="button button-block button-ey">了解更多</a>
        </div>
    </ion-content>
</ion-view>

