<!--nav-->
<div class="sidebar">
    <div class="logo-con">
        <img src="images/logo.png" alt=""/>
    </div>
    <ul class="side-nav">
        <li ng-class=" {active:page =='pos_list'}"><a ng-href="#/position/list?page=1"><span
                class="glyphicon glyphicon-list icon"></span>职位列表</a></li>

        <li ng-class=" {active:page =='pos_new'}"><a ng-href="#/position/new"><span
                class="glyphicon glyphicon-open icon"></span>职位发布</a></li>

        <li ng-class=" {active:page =='resume-new'}"><a ng-href="#/resume/new-list"><span
                class="glyphicon glyphicon-leaf icon"></span>新收简历</a></li>

        <li ng-class=" {active:page =='rec'}"><a ng-href="#/rec/list"><span
                class="glyphicon glyphicon-thumbs-up icon"></span>内部推荐</a></li>

        <li><a ng-href="#"><span
                class="glyphicon glyphicon-send icon"></span>微信后台</a></li>

    </ul>


</div>