<style>
    .panel-right{
        margin-right: 20px;
    }
    div.panel-statistic{
        width: 48%;
    }
    div.panel-statistic > div{
        padding:10px 0;font-size: larger;font-weight: bolder
    }
    div.panel-statistic > div > a > button{
        position:absolute;right:10px;
    }
</style>
<div class="pos-new container">
    <h2 class="page-tit"> 统计图表 </h2>
    <div>
        <div class="row">
            <div class="panel-statistic panel-right col-sm-6 panel panel-default">
                <div class="" align="center">
                    访问量统计
                    <a href="#/statistic/view"><button type="button" class="btn btn-default btn-sm">详情</button></a>
                </div>
                <a href="#/statistic/view"><highchart id="chart1" config="view_conf" class="span9"></highchart></a>

            </div>
            <div class="panel-statistic col-sm-6 panel panel-default">
                <div align="center">
                    申请量统计
                    <a href="#/statistic/apply"><button type="button" class="btn btn-default btn-sm">详情</button></a>
                </div>
                <a href="#/statistic/apply"><highchart id="chart2" config="apply_conf" class="span9"></highchart></a>
            </div>
        </div>
        <div class="row">
            <div class="panel-statistic panel-right col-sm-6 panel panel-default">
                <div class="" align="center">
                    转发量统计
                    <a href="#/statistic/track"><button type="button" class="btn btn-default btn-sm" style="right: 65px">转发数据追踪</button></a>
                    <a href="#/statistic/share"><button type="button" class="btn btn-default btn-sm">详情</button></a>
                </div>
                <a href="#/statistic/share"><highchart id="chart3" config="share_conf" class="span9"></highchart></a>
            </div>
            <div class="panel-statistic col-sm-6 panel panel-default">
                <div class="" align="center">
                    转发效果统计
                    <a href="#/statistic/share-effect"><button type="button" class="btn btn-default btn-sm">详情</button></a>
                </div>
                <a href="#/statistic/share"><highchart id="chart4" config="share_effect_conf" class="span9"></highchart></a>
            </div>
        </div>
        <div class="row">
            <div class="panel-statistic panel-right col-sm-6 panel panel-default">
                <div class="" align="center">
                    投递渠道统计
                    <a href="#/statistic/apply-channel"><button type="button" class="btn btn-default btn-sm">详情</button></a>
                </div>
                <a href="#/statistic/apply-channel"><highchart id="chart5" config="apply_channel_conf" class="span9"></highchart></a>
            </div>
            <div class="panel-statistic col-sm-6 panel panel-default">
                <div class="" align="center">
                    内部推荐统计
                    <a href="#/statistic/ref"><button type="button" class="btn btn-default btn-sm">详情</button></a>
                </div>
                <a href="#/statistic/ref"><highchart id="chart6" config="ref_conf" class="span9"></highchart></a>
            </div>
        </div>
    </div>
</div>
