<!--<div class="debug">{{vm.view}}</div>-->
<ion-modal-view>
    <ion-header-bar class="bar-theme ">
        <h1 class="title">{{vm.filter.category.name}}</h1>
        <button class="button small my-close button-clear " ng-click="vm.modals.category.hide()"><i
                class="icon black small ion-android-close "></i></button>
    </ion-header-bar>
    <ion-content>
        <ion-list on-tap="vm.categoryChange()">
            <label class="item item-radio" ng-class="{'checked':vm.filter.category.id == item.id}"
                   ng-repeat="item in vm.view.categories">
                <input type="radio" ng-model="vm.filter.category"
                       ng-value="item" name="dpt_group">

                <div class="item-content">
                    <span class="iconfont icon-allclassifications"
                          ng-if="$index==0&&!corp.custom.position_list.hide_icon " style="color:#984241;"></span>
                    <i class="iconfont {{item.icon_name}} filter-icon" ng-style="{color:item.icon_color}"
                       ng-if="!corp.custom.position_list.hide_icon"></i>
                    <span class="font">{{item.name}}</span>
                </div>
                <i class="radio-icon small green ion-checkmark"></i>
            </label>

        </ion-list>
    </ion-content>
</ion-modal-view>
