page-tutorial{
  .slide-zoom{
    height:100%;
    .content{
      //letter-spacing:1px;
      padding:27px 23px;
      text-align:center;
      line-height:28px;
      font-size:15px;
      h2{
        font-size:24px;
        margin:0 0 10px;
      }
    }

  }
}
