<div class="pos-resume-list">

    <h2 class="title" ng-click="vm.getNew()">查收简历</h2>
    <div class="list">
        <div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>推荐人</th>
                    <th>申请岗位</th>
                    <th>工作经验</th>
                    <th>学历</th>
                    <th>毕业院校</th>
                    <th>现任职位</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in vm.resumeList">
                    <!--<td><input type="checkbox" ng-model="item.checked"/></td>-->
                    <td><a ng-href="#/resume/{{item.id}}"> {{item.name}} </a> </td>
                    <td ng-if="item.gender==1">男</td>
                    <td ng-if="item.gender==0">女</td>
                    <td>{{item.ref}}</td>
                    <td><a ng-href="#/position/{{item.position_id}}">{{item.position_name}}</a></td>
                    <td>{{item.work_exp}}年</td>
                    <td>{{item.degree}}</td>
                    <td>{{item.edu[0].school}}</td>
                    <td>{{item.exp[0].position}}</td>


                </tbody>

            </table>
        </div>
        <div class="ft">
            <div class="pull-right">
                <pagination ng-if="vm.totalItems>20" items-per-page="20" max-size="5" boundary-links="true"
                            total-items="vm.totalItems"
                            ng-change="vm.pageChanged()" ng-model="vm.currentPage"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                            last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>

</div>