<div class="pos-resume-list">
    <h2 class="title">新收简历</h2>
    <div class="panel panel-default">

        <form name="form" novalidate>
            <div class="panel-body form-inline ">
                <div>
                    性别:
                    <ui-select ng-model="vm.filter.gender" app-parse="code" app-format="vm.view.gender|code"
                               theme="select2"
                               style="width: 160px;"
                               class="mr10"

                               search-enabled="false">
                        <ui-select-match allow-clear="true" placeholder="--所有性别--">{{$select.selected.label}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in vm.view.gender | filter: $select.search ">
                            <div ng-bind-html="item.label|highlight: $select.search">
                            </div>
                        </ui-select-choices>
                    </ui-select>

                    工作经验:
                    <ui-select ng-model="vm.filter.work_exp" app-parse="code" app-format="vm.exp|code" theme="select2"
                               style="width: 160px;"
                               class="mr10"
                               search-enabled="false">
                        <ui-select-match allow-clear="true" placeholder="--不限经验--">{{$select.selected.label }}
                        </ui-select-match>
                        <ui-select-choices repeat="item in vm.view.work_exp | filter: $select.search ">
                            <div ng-bind-html="item.label |highlight: $select.search">
                            </div>
                        </ui-select-choices>
                    </ui-select>
                    申请岗位:

                    <ui-select ng-model="vm.filter.position_id" app-parse="id" ng-if="vm.view.position.length"
                               app-format="vm.view.position|id"
                               theme="select2"
                               style="width: 240px;"
                               class="mr10">
                        <ui-select-match allow-clear="true" placeholder="--所有岗位--">{{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in vm.view.position | filter: $select.search ">
                            <div ng-bind-html="item.name|highlight: $select.search">
                            </div>
                        </ui-select-choices>
                    </ui-select>

                    <button class="btn btn-primary pull-right" ng-click="vm.filterSbm()"><span
                            class="glyphicon glyphicon-search"></span></button>
                </div>
                <div class="mt20">
                    学历:
                    <ui-select ng-model="vm.filter.degree" app-parse="code" app-format="vm.edu|code" theme="select2"
                               style="width: 160px;"
                               class="mr10"
                               search-enabled="false">
                        <ui-select-match allow-clear="true" placeholder="--所有学历--">{{$select.selected.label}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in vm.view.edu | filter: $select.search ">
                            <div ng-bind-html="item.label |highlight: $select.search">
                            </div>
                        </ui-select-choices>
                    </ui-select>
                    是否有推荐人：<label class="radio-inline radio "><input type="radio" name="refer" ng-value="0"
                                                                     ng-model="vm.filter.refer"> 所有人</label>
                    <label class="radio-inline radio "><input type="radio" name="refer" ng-value="1"
                                                              ng-model="vm.filter.refer"> 有推荐人</label>
                    <label class="radio-inline radio "><input type="radio" name="refer" ng-value="2"
                                                              ng-model="vm.filter.refer"> 无推荐人</label>

                </div>
            </div>
        </form>
    </div>
    <div class="op  mb10">
        <a ng-href="{{vm.dlCheckedUrl}}" ng-disabled="!vm.dlCheckedUrl"
           class="btn btn-default">下载选中简历</a>
        <a ng-href="{{vm.excelCheckedUrl}}" ng-disabled="!vm.excelCheckedUrl" ng-if="company.custom.excel"
           class="btn btn-default">导出EXCEL</a>
    </div>
    <div class="list">
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="width: 50px"><input type="checkbox" ng-click="vm.allCheck()" ng-model="vm.checkedAll"/>
                    </th>
                    <th><a href="javascript:" ng-click="vm.setOrder('name')">姓名
                        <span ng-if="vm.cond.order_by=='name' && vm.cond.order=='asc'"
                              class="glyphicon glyphicon-chevron-up"></span>
                        <span ng-if="vm.cond.order_by=='name' && vm.cond.order=='desc'"
                              class="glyphicon glyphicon-chevron-down"></span>
                    </a></th>
                    <th><a href="javascript:" ng-click="vm.setOrder('gender')">性别
                        <span ng-if="vm.cond.order_by=='gender' && vm.cond.order=='asc'"
                              class="glyphicon glyphicon-chevron-up"></span>
                        <span ng-if="vm.cond.order_by=='gender' && vm.cond.order=='desc'"
                              class="glyphicon glyphicon-chevron-down"></span>
                    </a></th>
                    <th><a href="javascript:" ng-click="vm.setOrder('ref_name')">推荐人
                        <span ng-if="vm.cond.order_by=='ref_name' && vm.cond.order=='asc'"
                              class="glyphicon glyphicon-chevron-up"></span>
                        <span ng-if="vm.cond.order_by=='ref_name' && vm.cond.order=='desc'"
                              class="glyphicon glyphicon-chevron-down"></span>
                    </a></th>
                    <th><a href="javascript:" ng-click="vm.setOrder('position_name')">申请岗位
                        <span ng-if="vm.cond.order_by=='position_name' && vm.cond.order=='asc'"
                              class="glyphicon glyphicon-chevron-up"></span>
                        <span ng-if="vm.cond.order_by=='position_name' && vm.cond.order=='desc'"
                              class="glyphicon glyphicon-chevron-down"></span>
                    </a></th>
                    <th><a href="javascript:" ng-click="vm.setOrder('work_exp')">工作经验
                        <span ng-if="vm.cond.order_by=='work_exp' && vm.cond.order=='asc'"
                              class="glyphicon glyphicon-chevron-up"></span>
                        <span ng-if="vm.cond.order_by=='work_exp' && vm.cond.order=='desc'"
                              class="glyphicon glyphicon-chevron-down"></span>
                    </a></th>
                    <th><a href="javascript:" ng-click="vm.setOrder('edu_degree')">学历
                        <span ng-if="vm.cond.order_by=='edu_degree' && vm.cond.order=='asc'"
                              class="glyphicon glyphicon-chevron-up"></span>
                        <span ng-if="vm.cond.order_by=='edu_degree' && vm.cond.order=='desc'"
                              class="glyphicon glyphicon-chevron-down"></span>
                    </a></th>
                    <th><a href="javascript:" ng-click="vm.setOrder('edu_school')">毕业院校
                        <span ng-if="vm.cond.order_by=='edu_school' && vm.cond.order=='asc'"
                              class="glyphicon glyphicon-chevron-up"></span>
                        <span ng-if="vm.cond.order_by=='edu_school' && vm.cond.order=='desc'"
                              class="glyphicon glyphicon-chevron-down"></span>
                    </a></th>
                    <th><a href="javascript:" ng-click="vm.setOrder('exp_position')">现任职位
                        <span ng-if="vm.cond.order_by=='exp_position' && vm.cond.order=='asc'"
                              class="glyphicon glyphicon-chevron-up"></span>
                        <span ng-if="vm.cond.order_by=='exp_position' && vm.cond.order=='desc'"
                              class="glyphicon glyphicon-chevron-down"></span>
                    </a></th>
                    <th><a href="javascript:" ng-click="vm.setOrder('created_at')">申请时间
                        <span ng-if="vm.cond.order_by=='created_at' && vm.cond.order=='asc'"
                              class="glyphicon glyphicon-chevron-up"></span>
                        <span ng-if="vm.cond.order_by=='created_at' && vm.cond.order=='desc'"
                              class="glyphicon glyphicon-chevron-down"></span>
                    </a></th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in vm.resumeList">
                    <td><input type="checkbox" ng-click="vm.itemCheck(item)" ng-model="item.checked"/></td>
                    <td><a ng-style="{color:item.read=='YES'?'#9b59b6':''}" ng-href="#/resume/{{item.id}}">
                        {{item.name}} </a></td>
                    <td ng-if="item.gender=='MALE'">男</td>
                    <td ng-if="item.gender=='FEMALE'">女</td>
                    <td ng-if="item.gender!='FEMALE' && item.gender!='MALE'"></td>
                    <td><a ng-href="#/rec/{{item.ref_id}}">{{item.ref_name}}</a></td>
                    <td><a ng-href="#/position/{{item.position_id}}">{{item.position_name}}</a><span
                            ng-if="item.position_status=='CLOSED'" class="red">（已关闭）</span></td>
                    <td>{{item.work_exp}}年</td>
                    <td>{{item.edu_degree}}</td>
                    <td>{{item.edu_school}}</td>
                    <td>{{item.exp_position}}</td>
                    <td>{{item.created_at | limitTo : 10}}</td>
                </tbody>

            </table>
        </div>
        <div class="ft">
            <div class="pull-right">
                <pagination ng-if="vm.totalItems>20" items-per-page="20" max-size="5" boundary-links="true"
                            total-items="vm.totalItems"
                            ng-change="vm.pageChanged()" ng-model="vm.currentPage"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                            last-text="&raquo;"></pagination>
            </div>
        </div>
    </div>

</div>