<div class="form-inline dpt">
    <ui-select ng-model="vm.selectDpt" style="width: 285px;" on-select="onSelect($item,$select)" theme="select2" class="mr5">
        <ui-select-match placeholder="请选择所属部门">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="item in departments | filter: $select.search">
            <span class="pull-left iconfont {{item.icon_name}} select-icon" style="color:{{item.icon_color}}"></span>
            <span ng-if="$index==0" class="gray  pull-right glyphicon glyphicon-plus remove-position"></span>
            <span ng-if="$index==0" class="gray  pull-left iconfont icon-newdepartment select-icon select-icon-position"
                  style="color:#177578;"></span>
                        <span ng-if="$index>0" class=" gray pull-right  glyphicon glyphicon-remove"
                              ng-click="removeDepartment(item.id)"></span>
                        <span ng-if="$index>0" class=" gray  pull-right glyphicon glyphicon-pencil select-icon"
                              ng-click="editDpt(item.id)"></span>

            <div ng-bind-html="item.name|highlight: $select.search">
            </div>
        </ui-select-choices>
    </ui-select>
</div>



