<ion-view class="view-rank">

    <ion-nav-title><h4>排行榜积分规则</h4></ion-nav-title>
    <ion-nav-buttons side="left">
        <a class="button icon ion-android-arrow-back"  ui-sref="public.rank.index"></a>
    </ion-nav-buttons>
    <ion-content>
        <ul class=" list list-sm sm-bd">
            <li class="item item-text-wrap"> <i class="ion-information-circled positive"></i> 每发布一条分享，发布者及分享中被@的用户获得 <span class="color-theme">5</span> 积分</li>
            <li class="item item-text-wrap"> <i class="ion-information-circled positive"></i> 每做一条评论，评论者、发布分享者及分享中被@的用户获得 <span class="color-theme">2</span> 积分</li>
            <li class="item item-text-wrap"> <i class="ion-information-circled positive"></i> 每做一次点赞，点赞者、发布分享者及分享中被@的用户获得 <span class="color-theme">1</span> 积分</li>
        </ul>

    </ion-content>

</ion-view>






