<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="bower_components/ionic/css/ionic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" ng-if="corp.css" ng-href="..{{corp.css}}">
</head>
<body ng-controller="appCtrl " class="theme-body">
<div class="alert-wrap " ng-if="vm.alerts.length" ng-class="{' show':vm.alerts.length}" style="display: none;">
    <div class="alert" ng-repeat="alert in vm.alerts" ng-class=" alert.type"><i
            class="icon  sigh ion-ios-information"></i> {{alert.msg}}
        <i class=" pull-right icon ion-close" ng-click=" alert.close()"></i>
    </div>
</div>
<div class="app-tip-wrap" ng-if="vm.tip" ng-class="{' show':vm.tip}" style="display: none;">
    <div class="app-tip" ng-bind-html="vm.tip.msg"></div>
</div>
<ion-side-menus enable-menu-with-back-views="false" ng-class="corp.style_no|styleMenu"> <!--corp.style_no-->
    <ion-side-menu-content>
        <ion-nav-view></ion-nav-view>

        <div class="menu-icon theme" ng-cloak on-tap="vm.toggleMenu()" ng-if="!hideBtnMenu"><i class="icon ion-navicon" ng-if="!corp.custom.menu_toggle_icon"></i>
            <img src="images/hand.png" alt="" ng-if="corp.custom.menu_toggle_icon == 'hand'">
        </div>
    </ion-side-menu-content>
    <ion-side-menu side="left" ng-cloak>
        <ion-content>
            <ion-list menu-close>
                <ion-item class="logo"><img ng-src="..{{corp.logo_1}}" alt=""/></ion-item>
                <ion-item ng-href="#/position/list/{{property.id}}" ng-repeat="property in position_properties">
                    <i class=" mr5 icon big gray-reset nav-icon" ng-class="property.icon"></i>
                    <span>{{property.display_name}}</span>
                </ion-item>
                <ion-item ng-href="#/resume/index">
                    <i class=" mr5 icon ion-document-text  big gray-reset nav-icon"></i>
                    <span>我的简历</span>
                </ion-item>
                <ion-item ng-href="#/about/company" ng-if="corp.custom.company_introduce"> <!--ng-if="0"-->
                    <i class=" mr5 icon ion-android-contacts  big gray-reset nav-icon"></i>
                    <span>{{corp.custom.company_introduce_label||'公司简介'}}</span>
                </ion-item>
                <ion-item ng-href="#/share/prize" ng-if="corp.custom.redpack.enable">
                    <i class=" mr5 icon ion-trophy  big gray-reset nav-icon"></i>
                    <span>转发有奖 <sup ng-if="prize>0"></sup></span>
                </ion-item>
                <ion-item ng-href="#/share/detail" ng-if="corp.custom.app_user_rank"> <!---->
                    <i class=" mr5 icon ion-flame  big gray-reset nav-icon"></i>
                    <span>我的转发</span>
                </ion-item>
            </ion-list>
            <div class="qrcode " ng-if="corp.qrcode">
                <img ng-src="..{{corp.qrcode}}" alt=""/>
                <div class="ins " ng-if="corp.custom.qrcode_suffix">{{corp.custom.qrcode_suffix}}</div>
                <div class="ins " ng-if="!corp.custom.qrcode_suffix">开启{{corp.name}}探索之旅</div>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="../app/company/js"></script>
<script type="text/javascript" src="../app/wx/js"></script>
<script src="bower_components/requirejs/require.js" data-main="scripts/main"></script>
</body>
</html>