body {

    background-color: #FFFFFF;
}

ul,li,dl,dd{
    padding: 0;
    margin: 0;
    list-style: none;
}
.caicvlogo {
    position: absolute;
    left: 2%;
    top: 3%;
    z-index: 2;
    height: 80px;
}

.login-background {
    background: url(../images/background.jpg) no-repeat center 60px;
}

.panel-signin {
    position: absolute;








    left: 57%;
    top: 20%;
    background: rgba(255, 255, 255, .95);
    box-shadow: 2px 2px rgba(0, 0, 0, .1);
    width: 500px;

}

.log {
    margin: 0;
    padding: 10px;
    border: 1px dotted #ddd;
}

.log dt {
    margin: 0 0 3px 0;
    padding: 0 0 5px 0;

}

.log dd {
    max-height: 100px;
    overflow-y: auto;;
}



.log li {
    color: #666;
    list-style: none;
}

.arrow {
    background-repeat: no-repeat;
}

.form-signin {
    padding: 20px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.head {
    width: 100%;
    height: 140px;
    background-color: #fff;
    border-bottom: 1px solid #e3e3e3;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}

.psw-forget {
    position: relative;
    left: 200px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
}

@media screen and (max-width: 800px) {
    .panel-signin {
        position: static;

        margin: 150px 10px 0 10px;
        width: 100%;

    }
}

.form-forgetpwd {
    padding-bottom: 8px;
    padding-top: -1%;

}

.button-position {
    padding-left: 4%;
    padding-right: 4%;
}

