<style>
    .panel-right{
        margin-right: 20px;
    }
    div.panel-statistic{
        /*width: 48%;*/
        font-size: 12px;;
    }
    div.panel-title{
        padding:10px 0;font-size: larger;font-weight: bolder;margin: 10px 0 25px;
    }
    div.panel-title > a > button{
        position:absolute;right:10px;top:15px;
    }
</style>
<div class="pos-new container">
    <h2 class="page-tit"> 排行榜 </h2>
    <div>
        <div class="row">
            <div class="panel-statistic col-sm-12 panel panel-default">
                <div class="panel-title" align="center">
                    个人转发量排名
                    <a href="#/rank/share"><button type="button" class="btn btn-default btn-sm">详情</button></a>
                </div>
                <div class="row" ng-repeat="rank in vm.share_count | limitTo :3  track by $index">
                    <div class="col-sm-1">第{{$index + 1}}名</div>
                    <div class="col-sm-2">{{rank.nickname}}</div>
                    <div class="col-sm-7">
                        <div class="progress">
                            <div class="progress-bar" ng-style="{'width':rank.width}" style="background-color: #fdc111">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">{{rank.cnt}}</div>
                </div>
            </div>
            <div class="panel-statistic col-sm-12 panel panel-default">
                <div class="panel-title" align="center">
                    转发职位被访问排名
                    <a href="#/rank/share-view"><button type="button" class="btn btn-default btn-sm">详情</button></a>
                </div>
                <div class="row" ng-repeat="rank in vm.share_view_count | limitTo :3  track by $index">
                    <div class="col-sm-1">第{{$index + 1}}名</div>
                    <div class="col-sm-2">{{rank.nickname}}</div>
                    <div class="col-sm-7">
                        <div class="progress">
                            <div class="progress-bar" ng-style="{'width':rank.width}" style="background-color: #01dfd0">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">{{rank.cnt}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel-statistic col-sm-12 panel panel-default">
                <div class="panel-title" align="center">
                    转发职位被申请排名
                    <a href="#/rank/share-apply"><button type="button" class="btn btn-default btn-sm">详情</button></a>
                </div>
                <div class="row" ng-repeat="rank in vm.share_apply_count | limitTo :3  track by $index">
                    <div class="col-sm-1">第{{$index + 1}}名</div>
                    <div class="col-sm-2">{{rank.nickname}}</div>
                    <div class="col-sm-7">
                        <div class="progress">
                            <div class="progress-bar" ng-style="{'width':rank.width}" style="background-color: #b8e06d">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">{{rank.cnt}}</div>
                </div>
            </div>
            <div class="panel-statistic col-sm-12 panel panel-default">
                <div class="panel-title" align="center">
                    员工推荐排名
                    <a href="#/rank/ref"><button type="button" class="btn btn-default btn-sm">详情</button></a>
                </div>
                <div class="row" ng-repeat="rank in vm.ref_count | limitTo :3  track by $index">
                    <div class="col-sm-1">第{{$index + 1}}名</div>
                    <div class="col-sm-2">{{rank.nickname}}</div>
                    <div class="col-sm-7">
                        <div class="progress">
                            <div class="progress-bar" ng-style="{'width':rank.width}" style="background-color: #ee6f8a">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">{{rank.cnt}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
